nav#mainNav.navbar.navbar-toggleable-sm.navbar-light
  .container.navbar__container
    .row.justify-content-between.justify-content-md-start.navbar__row.align-items-center
      .col-8.col-sm-6.hidden-lg-up
        button.hidden-lg-up.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
      .col-sm-10.col-lg-4.hidden-sm-down
        .logo.logo.logo--inside
          a.logo__link(href="/")
            img.img-fluid.logo__img(src=content.site.logo.img.src, alt=content.site.logo.img.alt)
      .col-16.col-lg-20.text-right
        .nav__contact.ml-auto
          a.nav__number=content.site.nav.contact.text