@charset "UTF-8";
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#jr_inner p {
  padding: 5px;
  margin: 0;
}

#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

#jr_inner li a:hover {
  text-decoration: underline;
}

#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}

#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}

#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/icons/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick/slick.eot");
  src: url("../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick/slick.woff") format("woff"), url("../fonts/slick/slick.ttf") format("truetype"), url("../fonts/slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.33;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: none;
}

[dir="rtl"] .slick-prev:before {
  content: none;
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: none;
}

[dir="rtl"] .slick-next:before {
  content: none;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000;
  opacity: 0.33;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #eee;
  opacity: 1;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../img/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../img/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../img/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: visible !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../img/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../img/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url("../img/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: normal;
  font-size: 0;
}

.ic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.ic--all:before {
  width: 32px;
  height: 20px;
  background: url(../img/sprite.png) -168px -32px no-repeat;
}

.ic--call:before {
  width: 13px;
  height: 13px;
  background: url(../img/sprite.png) -23px -153px no-repeat;
}

.ic--contact-1:before {
  width: 12px;
  height: 12px;
  background: url(../img/sprite.png) -68px -153px no-repeat;
}

.ic--contact-2:before {
  width: 12px;
  height: 12px;
  background: url(../img/sprite.png) -46px -153px no-repeat;
}

.ic--contact-3:before {
  width: 11px;
  height: 9px;
  background: url(../img/sprite.png) -90px -153px no-repeat;
}

.ic--contact-4:before {
  width: 9px;
  height: 12px;
  background: url(../img/sprite.png) -220px -125px no-repeat;
}

.ic--date:before {
  width: 40px;
  height: 40px;
  background: url(../img/sprite.png) -61px -58px no-repeat;
}

.ic--gift:before {
  width: 21px;
  height: 24px;
  background: url(../img/sprite.png) -168px -62px no-repeat;
}

.ic--list:before {
  width: 16px;
  height: 22px;
  background: url(../img/sprite.png) -122px -108px no-repeat;
}

.ic--question:before {
  width: 16px;
  height: 16px;
  background: url(../img/sprite.png) -198px -96px no-repeat;
}

.ic--scheme-1:before {
  width: 48px;
  height: 48px;
  background: url(../img/sprite.png) 0px 0px no-repeat;
}

.ic--scheme-2:before {
  width: 46px;
  height: 46px;
  background: url(../img/sprite.png) -58px 0px no-repeat;
}

.ic--scheme-3:before {
  width: 53px;
  height: 35px;
  background: url(../img/sprite.png) 0px -108px no-repeat;
}

.ic--scheme-4:before {
  width: 43px;
  height: 43px;
  background: url(../img/sprite.png) -114px -54px no-repeat;
}

.ic--scheme-5:before {
  width: 61px;
  height: 22px;
  background: url(../img/sprite.png) -168px 0px no-repeat;
}

.ic--scheme-6:before {
  width: 51px;
  height: 40px;
  background: url(../img/sprite.png) 0px -58px no-repeat;
}

.ic--scheme-7:before {
  width: 44px;
  height: 44px;
  background: url(../img/sprite.png) -114px 0px no-repeat;
}

.ic--scheme-8:before {
  width: 49px;
  height: 33px;
  background: url(../img/sprite.png) -63px -108px no-repeat;
}

.ic--table1:before {
  width: 13px;
  height: 19px;
  background: url(../img/sprite.png) 0px -153px no-repeat;
}

.ic--table2:before {
  width: 21px;
  height: 20px;
  background: url(../img/sprite.png) -199px -62px no-repeat;
}

.ic--table3:before {
  width: 20px;
  height: 19px;
  background: url(../img/sprite.png) -168px -96px no-repeat;
}

.ic--test-1:before {
  width: 18px;
  height: 15px;
  background: url(../img/sprite.png) -210px -32px no-repeat;
}

.ic--test-2:before {
  width: 10px;
  height: 18px;
  background: url(../img/sprite.png) -148px -108px no-repeat;
}

.ic--test-3:before {
  width: 16px;
  height: 16px;
  background: url(../img/sprite.png) -168px -125px no-repeat;
}

.ic--zoom:before {
  width: 16px;
  height: 16px;
  background: url(../img/sprite.png) -194px -125px no-repeat;
}

/* form */
.text-danger {
  color: #b94a48;
  text-align: left;
}

.form-group.error .form-control {
  border-color: #b94a48;
}

[type=submit]:disabled {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

/* modal */
.modal {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
.button {
  background-color: #c00013;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 4px 7px rgba(192, 0, 19, 0.37);
          box-shadow: 0 4px 7px rgba(192, 0, 19, 0.37);
  cursor: pointer;
  color: #fcfcfc;
  font: 400 14px/18px "Constantia", sans-serif;
  text-transform: uppercase;
  padding: 20px;
  text-align: center;
  white-space: normal;
}

.button:hover, .button:focus {
  background-color: rgba(192, 0, 19, 0.6);
  -webkit-box-shadow: 0 4px 7px rgba(192, 0, 19, 0.37);
          box-shadow: 0 4px 7px rgba(192, 0, 19, 0.37);
}

.button--size {
  width: 100%;
}

.button__ic {
  margin-right: 12px;
}

@media only screen and (min-width: 760px) {
  .button {
    white-space: nowrap;
  }
}

@media only screen and (min-width: 992px) {
  .button {
    min-width: 360px;
  }
}

.heading {
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
}

.heading__text {
  font: 700 20px/30px "Constantia", sans-serif;
  text-transform: uppercase;
  color: #2d2d2d;
}

.heading__text--span {
  font: 700 20px/30px "TrajanPro3", sans-serif;
  text-transform: uppercase;
  color: #2d2d2d;
}

.heading__text--white {
  color: #fff;
}

.heading--border:before {
  content: '';
  display: block;
  height: 60px;
  width: 25px;
  position: absolute;
  left: 0;
  top: -18px;
  border-bottom: 5px solid #24a9e1;
  border-left: 5px solid #24a9e1;
  z-index: 10;
}

.heading--border:after {
  content: '';
  display: block;
  width: 60px;
  height: 20px;
  position: absolute;
  left: 0;
  top: -18px;
  border-top: 5px solid #24a9e1;
  border-right: 5px solid #24a9e1;
  z-index: 10;
}

@media only screen and (min-width: 760px) {
  .heading {
    margin-bottom: 50px;
  }
  .heading__text {
    font: 700 40px/50px "Constantia", sans-serif;
  }
  .heading__text--span {
    font: 700 40px/50px "TrajanPro3", sans-serif;
  }
}

/* ---------------------------------------- */
/* N A V    S T Y L E                       */
/* ---------------------------------------- */
.navbar {
  -webkit-box-shadow: 1.5px -2.6px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 1.5px -2.6px 50px rgba(0, 0, 0, 0.2);
  position: fixed;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 100%;
  z-index: 50;
  background: #fff;
}

.navbar-nav {
  padding-top: 15px;
}

.navbar-toggler {
  border: 0 !important;
  outline: none !important;
  cursor: pointer;
}

.nav__link {
  display: inline-block;
  color: #2d2d2d !important;
  font: 400 13px/16px "Constantia", sans-serif;
  text-transform: uppercase;
}

.nav__link.active {
  color: #bb0e1e !important;
}

.nav__number {
  color: #402e00;
  font: 400 16px/18px "TrajanPro3", sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.call__btn {
  display: block;
}

.call__btn--text {
  display: inline-block;
  color: #bb0e1e;
  font: 400 13px/16px "Constantia", sans-serif;
  text-transform: uppercase;
  border-bottom: 0.79px dashed #c00013;
}

.call__btn--icon {
  margin-right: 5px;
}

.logo__link {
  display: inline-block;
}

@media only screen and (min-width: 760px) {
  .navbar {
    padding: 25px 0;
  }
  .navbar-nav {
    padding-top: 0;
  }
  .navbar__row {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

/* ---------------------------------------- */
/* H E A D E R    S T Y L E                 */
/* ---------------------------------------- */
.header {
  margin-top: 65px;
  padding: 30px 0 70px;
  background: url(../img/headerbg320.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.header__heading {
  position: relative;
}

.header__text {
  font: 400 16px/25px "Constantia", sans-serif;
  color: #fff;
  margin-bottom: 25px;
  text-align: center;
}

.header__text--span {
  color: #019cdc;
  font: 700 16px/25px "Constantia", sans-serif;
}

.header__text--number {
  color: #019cdc;
  font: 700 16px/25px "TrajanPro3", sans-serif;
}

@media only screen and (min-width: 760px) {
  .header {
    padding: 100px 0 70px;
    margin-top: 98px;
    background: url(../img/headerbg.jpg) no-repeat;
    background-size: cover;
  }
  .header__text {
    color: #2d2d2d;
    text-align: left;
  }
  .header__heading:before {
    display: block;
    content: '';
    position: absolute;
    left: -40px;
    top: -40px;
    height: 35px;
    width: 1000px;
    border-top: 5px solid #cfcfcf;
    border-left: 5px solid #cfcfcf;
  }
  .header__heading:after {
    display: block;
    content: '';
    position: absolute;
    left: -40px;
    bottom: -40px;
    height: 35px;
    width: 1000px;
    border-bottom: 5px solid #cfcfcf;
    border-left: 5px solid #cfcfcf;
  }
}

.title {
  font: 700 18px/28px "Constantia", sans-serif;
  color: #fff;
  margin-bottom: 15px;
  text-align: center;
}

.subtitle {
  font: 400 16px/20px "Constantia", sans-serif;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

@media only screen and (min-width: 760px) {
  .title {
    font: 700 43px/48px "Constantia", sans-serif;
    color: #2d2d2d;
    text-align: left;
  }
  .subtitle {
    font: 400 16px/23px "Constantia", sans-serif;
    color: #2d2d2d;
    margin-bottom: 80px;
    text-align: left;
  }
}

/* ---------------------------------------- */
/* A B O U T    S T Y L E                   */
/* ---------------------------------------- */
.about {
  padding: 70px 0 30px;
}

.about__text {
  color: #2d2d2d;
  font: 400 16px/25px "Constantia", sans-serif;
  margin-bottom: 20px;
}

.about__icon {
  margin-left: 7px;
  cursor: pointer;
}

.about__image {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.about__image img {
  position: relative;
  z-index: 20;
}

@media only screen and (min-width: 760px) {
  .about__image {
    margin-bottom: 60px;
  }
  .about__image:before {
    content: '';
    display: block;
    position: absolute;
    left: 55px;
    top: 40px;
    height: 100%;
    width: 100%;
    border: 5px solid #cfcfcf;
    z-index: 15;
  }
}

@media only screen and (min-width: 1200px) {
  .about__image {
    margin-bottom: 0;
  }
}

/* ---------------------------------------- */
/* B U I L D    S T Y L E                   */
/* ---------------------------------------- */
.build {
  padding: 60px 0 60px;
}

.build__col {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.build__col--hidden {
  visibility: visible;
  opacity: 0;
  display: none;
}

.build__item {
  display: block;
  position: relative;
  margin-bottom: 35px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 30;
}

.build__item:hover, .build__item:focus {
  -webkit-box-shadow: 0 0 0 5px #24a9e1, 0 22px 32px rgba(36, 169, 225, 0.2);
          box-shadow: 0 0 0 5px #24a9e1, 0 22px 32px rgba(36, 169, 225, 0.2);
}

.build__item:hover .build__overlay, .build__item:focus .build__overlay {
  top: 100%;
}

.build__item:hover .build__hover, .build__item:focus .build__hover {
  bottom: 0;
}

.build__name {
  color: #fff;
  font: 700 18px/20px "Constantia", sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.build__address {
  color: #fff;
  font: 400 16px/20px "Constantia", sans-serif;
}

.build__address--span {
  font: 400 16px/20px "TrajanPro3", sans-serif;
}

.build__image {
  display: block;
  height: 300px;
}

.build__image--1 {
  background: url(../img/build1.jpg) no-repeat;
  background-size: cover;
}

.build__image--2 {
  background: url(../img/build2.jpg) no-repeat;
  background-size: cover;
}

.build__image--3 {
  background: url(../img/build3.jpg) no-repeat;
  background-size: cover;
}

.build__image--4 {
  background: url(../img/build4.jpg) no-repeat;
  background-size: cover;
}

.build__image--5 {
  background: url(../img/build5.jpg) no-repeat;
  background-size: cover;
}

.build__image--6 {
  background: url(../img/build6.jpg) no-repeat;
  background-size: cover;
}

.build__image--7 {
  background: url(../img/build3.jpg) no-repeat;
  background-size: cover;
}

.build__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(45, 45, 45, 0.7);
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 20;
}

.build__hover {
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 40px;
  text-align: center;
  color: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-color: rgba(36, 169, 225, 0.7);
}

/* ---------------------------------------- */
/* T E S T    S T Y L E                     */
/* ---------------------------------------- */
.test {
  padding: 45px 0;
  background: url(../img/testbg.jpg) no-repeat;
  background-size: cover;
}

.test__heading {
  margin-bottom: 15px;
}

.test__subheading {
  color: #2d2d2d;
  font: 700 18px/20px "Constantia", sans-serif;
  margin-bottom: 35px;
}

.test__subheading--span {
  font: 700 18px/20px "TrajanPro3", sans-serif;
}

.test__title {
  color: #2d2d2d;
  font: 400 18px/20px "Constantia", sans-serif;
  margin-bottom: 20px;
}

.test__point {
  position: relative;
  padding-left: 30px;
  margin-bottom: 25px;
}

.test__icon {
  position: absolute;
  left: 0;
  top: 0;
}

.test__text {
  color: #2d2d2d;
  font: 700 italic 18px/20px "Constantia", sans-serif;
}

.test__btn {
  margin-top: 20px;
}

/* ---------------------------------------- */
/* G A R A N T    S T Y L E                 */
/* ---------------------------------------- */
.garant {
  padding: 90px 0 80px;
}

.garant__heading {
  margin-bottom: 270px;
}

.garant__box {
  position: relative;
  background: #fff;
  padding: 80px 0;
  border: 5px solid #cfcfcf;
  -webkit-box-shadow: 0 14px 18px rgba(34, 34, 34, 0.09);
          box-shadow: 0 14px 18px rgba(34, 34, 34, 0.09);
  z-index: 20;
}

.garant__text {
  color: #2d2d2d;
  font: 400 20px/30px "Constantia", sans-serif;
  margin-bottom: 20px;
}

.garant__subtext {
  color: #2d2d2d;
  font: 400 italic 14px/20px "Constantia", sans-serif;
}

.garant__info {
  position: relative;
}

.garant__info:before {
  content: "\f10d";
  position: absolute;
  top: -50px;
  left: -10px;
  font-family: "FontAwesome";
  color: #24a9e1;
  font-size: 40px;
}

.garant__info:after {
  content: "\f10e";
  position: absolute;
  bottom: -50px;
  right: -10px;
  font-family: "FontAwesome";
  color: #24a9e1;
  font-size: 40px;
}

.garant__img {
  position: absolute;
  bottom: 101%;
  left: 50%;
  margin-left: -103px;
  max-height: 260px;
}

@media only screen and (min-width: 992px) {
  .garant__heading {
    margin-bottom: 60px;
  }
  .garant__text {
    font: 400 37px/44px "Constantia", sans-serif;
  }
  .garant__subtext {
    font: 400 italic 18px/20px "Constantia", sans-serif;
  }
  .garant__info:before {
    top: -50px;
    left: -60px;
  }
  .garant__info:after {
    bottom: -50px;
    right: -10px;
  }
  .garant__img {
    margin: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    max-height: none;
  }
}

/* ---------------------------------------- */
/* P R O J E C T    S T Y L E               */
/* ---------------------------------------- */
.project {
  padding: 75px 0 70px;
  background: url(../img/projectbg.jpg) no-repeat;
  background-size: cover;
}

.project__info {
  padding: 40px 0 40px;
}

.project__name {
  color: #2d2d2d;
  font: 700 30px/36px "Constantia", sans-serif;
  text-transform: uppercase;
  padding-left: 10px;
  margin-bottom: 25px;
}

.project__box {
  padding-right: 40px;
  padding-left: 30px;
}

.project__data {
  border: 0 !important;
}

.project__data--left {
  position: relative;
  color: #2d2d2d;
  font: 700 18px/20px "Constantia", sans-serif;
}

.project__data--left .ic {
  position: absolute;
  left: -20px;
  top: 12px;
}

.project__data--right {
  text-align: right;
  color: #2d2d2d;
  font: 400 18px/20px "Constantia", sans-serif;
}

.project__icon {
  min-width: 20px;
}

.project__details {
  padding-left: 10px;
}

.project__elem {
  margin-bottom: 15px;
}

.project__elem--top {
  color: #727272;
  font: 400 16px/20px "Constantia", sans-serif;
}

.project__elem--bot {
  color: #2d2d2d;
  font: 700 16px/20px "Constantia", sans-serif;
}

.project__btn .ic {
  margin-right: 10px;
}

.slider__item {
  opacity: 0.8;
  background: #fff;
  padding-left: 30px;
  -webkit-box-shadow: 0 9px 27px rgba(52, 60, 59, 0.2);
          box-shadow: 0 9px 27px rgba(52, 60, 59, 0.2);
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.slider__item.slick-active {
  opacity: 1;
}

.slider__image {
  padding-top: 30px;
}

.carousel-3d-slide {
  opacity: 0.8 !important;
}

/* ---------------------------------------- */
/* S C H E M E    S T Y L E                 */
/* ---------------------------------------- */
.scheme {
  padding: 90px 0 160px;
  background: url(../img/schemebg.jpg) no-repeat;
  background-size: cover;
}

.scheme__heading {
  margin-bottom: 15px;
}

.scheme__subheading {
  padding-left: 40px;
  margin-bottom: 30px;
}

.scheme__col--3 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.scheme__container {
  position: relative;
}

.item {
  text-align: center;
  margin-bottom: 50px;
}

.item__box {
  position: relative;
  margin: 0 auto 20px;
  -webkit-box-shadow: 0 8px 18px rgba(52, 60, 59, 0.15);
          box-shadow: 0 8px 18px rgba(52, 60, 59, 0.15);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #FFF;
  height: 110px;
  width: 110px;
  text-align: center;
  z-index: 20;
}

.item__number {
  position: absolute;
  left: 5px;
  top: 5px;
  font: 700 12px/24px "TrajanPro3", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #c00013;
  -webkit-box-shadow: 0 1px 10px rgba(192, 0, 19, 0.35);
          box-shadow: 0 1px 10px rgba(192, 0, 19, 0.35);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  height: 20px;
  width: 20px;
}

.item__icon {
  line-height: 110px;
}

.item__text {
  color: #2d2d2d;
  font: 700 14px/18px "Constantia", sans-serif;
  text-transform: uppercase;
}

.item__text--span {
  color: #2d2d2d;
  font: 700 16px/24px "TrajanPro3", sans-serif;
}

.item__text--break {
  display: block;
}

.item__date {
  color: #24a9e1;
  font: 700 16px/25px "TrajanPro3", sans-serif;
  margin-bottom: 15px;
}

.date {
  margin-bottom: 20px;
  text-align: center;
}

.date__info {
  display: inline-block;
  padding-left: 10px;
}

.date__text {
  color: #2d2d2d;
  font: 700 18px/25px "Constantia", sans-serif;
  text-transform: uppercase;
}

.date__number {
  color: #24a9e1;
  font: 700 16px/25px "TrajanPro3", sans-serif;
}

.date__icon {
  vertical-align: top;
  padding-top: 5px;
}

.item__box--first {
  position: relative;
}

.item__box--first-1, .item__box--second-1 {
  z-index: 20;
}

.item__box--first-1:before, .item__box--second-1:before {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  width: 100%;
  border: 1px dashed rgba(45, 45, 45, 0.6);
}

.item__box--first-2, .item__box--second-2 {
  z-index: 20;
}

.item__box--first-2:before, .item__box--second-2:before, .item__box--first-4:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  height: 190px;
  border: 1px dashed rgba(45, 45, 45, 0.6);
}

.item__box--first-3, .item__box--second-3 {
  z-index: 22;
}

.item__box--first-3:before, .item__box--second-3:before {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  top: 50%;
  width: 100%;
  border: 1px dashed rgba(45, 45, 45, 0.6);
}

.item__box--first-4 {
  z-index: 23;
}

.item__box--second-1 {
  z-index: 24;
}

.item__box--second-2 {
  z-index: 25;
}

.item__box--second-3 {
  z-index: 25;
}

.item__box--second-4 {
  z-index: 26;
}

@media only screen and (min-width: 450px) {
  .item__box--first-1:before, .item__box--second-1:before, .item__box--first-3:before, .item__box--second-3:before {
    width: 180%;
  }
}

@media only screen and (min-width: 760px) {
  .item__box--first-1:before, .item__box--second-1:before, .item__box--first-3:before, .item__box--second-3:before {
    width: 270px;
  }
}

@media only screen and (min-width: 992px) {
  .scheme__col {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .scheme__border {
    position: absolute;
    top: 95px;
    left: 100px;
    width: 850px;
    height: 53%;
    border: 2px dashed #24a9e1;
    border-left: 0;
  }
  .item__text {
    font: 700 16px/20px "Constantia", sans-serif;
  }
  .item__box:before {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .scheme__border {
    width: 1040px;
  }
}

/* ---------------------------------------- */
/* E X P    S T Y L E                       */
/* ---------------------------------------- */
.exp__box {
  text-align: center;
}

.exp__heading {
  color: #c00013;
  font: 400 48px/50px "Constantia", sans-serif;
}

.exp__heading--span {
  font: 700 72px/72px "TrajanPro3", sans-serif;
}

.exp__text {
  font: 400 20px/27px "Constantia", sans-serif;
  color: #c00013;
}

.exp__image {
  margin-top: -30px;
}

/* ---------------------------------------- */
/* T E A M    S T Y L E                     */
/* ---------------------------------------- */
.team {
  padding: 80px 0;
}

.team__row {
  margin-bottom: 60px;
}

.team__heading {
  margin-bottom: 50px;
}

.team__info {
  padding-top: 30px;
}

.team__title {
  color: #2d2d2d;
  font: 400 20px/26px "Constantia", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.team__text {
  color: #2d2d2d;
  font: 400 16px/20px "Constantia", sans-serif;
  margin-bottom: 15px;
}

.team__link {
  text-align: center;
  display: block;
}

.team__link img {
  display: inline-block;
}

.fancybox-skin {
  padding: 0 !important;
}

/* ---------------------------------------- */
/* P A R T N E R    S T Y L E               */
/* ---------------------------------------- */
.partner {
  padding: 80px 0 50px;
  background-color: #f9f8f8;
}

.partner__item {
  text-align: center;
  padding: 0 50px;
}

.partner__image {
  display: inline-block !important;
  margin-bottom: 30px;
}

.partner__title {
  color: #2d2d2d;
  font: 700 16px/20px "Constantia", sans-serif;
  margin-bottom: 10px;
}

.partner__text {
  color: #2d2d2d;
  font: 400 12px/16px "Constantia", sans-serif;
}

/* ---------------------------------------- */
/* W O R T H    S T Y L E                   */
/* ---------------------------------------- */
.worth {
  padding: 90px 0 25px;
}

.worth__box {
  border: 5px solid #cfcfcf;
  -webkit-box-shadow: 0 14px 18px rgba(34, 34, 34, 0.09);
          box-shadow: 0 14px 18px rgba(34, 34, 34, 0.09);
  padding: 25px;
}

.worth__title {
  color: #2d2d2d;
  font: 700 24px/30px "Constantia", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.worth__point {
  color: #c00013;
  font: 700 16px/20px "Constantia", sans-serif;
  text-transform: uppercase;
}

.worth__radio-group {
  display: inline-block;
}

.worth__radio-label {
  outline: none;
  margin: 0;
}

.worth__radio-input {
  display: none;
}

.worth__radio-input:checked + .worth__radio-label .worth__radio-icon {
  border: 2px solid #c00013;
}

.worth__radio-input:checked + .worth__radio-label .worth__radio-icon:before {
  content: '';
  position: absolute;
  background: #c00013;
  display: block;
  left: 3px;
  top: 3px;
  color: #c00013;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.worth__radio-icon {
  position: relative;
  display: inline-block;
  height: 26px;
  width: 26px;
  top: 4px;
  margin-bottom: -4px;
  margin-right: 3px;
  background-color: transparent;
  border: 2px solid #c00013;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

/* ---------------------------------------- */
/* C O N T A C T    S T Y L E               */
/* ---------------------------------------- */
.contact {
  padding: 60px 0 35px;
  overflow: hidden;
}

.contact__info {
  padding-top: 65px;
}

.contact__icon {
  margin-right: 5px;
}

.contact__name {
  display: inline-block;
  color: #2d2d2d;
  font: 400 16px/18px "Constantia", sans-serif;
  margin-bottom: 5px;
}

.contact__text {
  color: #2d2d2d;
  font: 400 18px/20px "Constantia", sans-serif;
  margin-bottom: 20px;
}

.contact__number {
  font: 400 18px/20px "TrajanPro3", sans-serif;
}

.contact__link {
  color: #2d2d2d;
  font: 400 18px/20px "Constantia", sans-serif;
}

.contact__link--big {
  font: 700 18px/20px "TrajanPro3", sans-serif;
}

.contact__link:hover, .contact__link:focus {
  text-decoration: none;
  color: #c00013;
}

#map {
  width: 100%;
  height: 400px;
}

@media only screen and (min-width: 992px) {
  .contact__box {
    position: relative;
  }
  .contact__box:before {
    display: block;
    content: '';
    position: absolute;
    left: -40px;
    top: -30px;
    height: 35px;
    width: 1000px;
    border-top: 5px solid #cfcfcf;
    border-left: 5px solid #cfcfcf;
  }
  .contact__box:after {
    display: block;
    content: '';
    position: absolute;
    left: -40px;
    bottom: -35px;
    height: 35px;
    width: 1000px;
    border-bottom: 5px solid #cfcfcf;
    border-left: 5px solid #cfcfcf;
  }
}
