- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png"
        },
        logo: {
          img: {
            src: "img/logo/logo.png",
            href: ""
          }
        },
        nav: {
          links: [
            {
              href: "/link1",
              name: "Главная"
            },
            {
              href: "#about",
              name: "Объекты"
            },
            {
              href: "#build",
              name: "Стоимость"
            },
            {
              href: "/link2",
              name: "Вопросы"
            },
            {
              href: "/link2",
              name: "Контакты"
            }
          ],
          contact: {
            href: "tel:+380676643177",
            text: "+38 (067) 664 31 77"
          },
          btn: {
            href: "",
            text: "Заказать звонок"
          }
        },
        navRight: {
          phone: {
            href: "",
            text: ""
          },
          button: {
            href: "",
            text: ""
          }
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            siteName: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image: "microformat.png",
            imageType: "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "/img/logo/microformat.png"
          }
        },
        header: {
          heading: "Строительство жилых и промышленных зданий под ключ:",
          subheading: "Проектирование, фундамент, каркас, стены, кровля, комплексная поставка материалов и сопровождение",
          text1: "Мы подготовим смету <span class=\"header__text--span\">в течении <span class=\"header__text--number\">48</span> часов</span>",
          text2: "Оставьте ваши контакты сейчас и <span class=\"header__text--span\">совершенно бесплатно</span> получите проект объекта.",
          btn: "Получить подарок и рассчитать смету проекта"
        },
        about: {
          heading: "О Компании",
          text1: "Хотите построить промышленное или жилое здание? Строительная компания ADSK реализует Вашу задумку под ключ. Начиная от создания фундамента и заканчивая кровлей, а также отделкой (для пром. зданий).",
          text2: "Вы получаете  гарантию результата: до 10 лет на материалы и до 2 лет на работу. На всех этапах реализации проекта мы придерживаемся стандартам СНиП.",
          text3: "Строим здания из металлоконструкций, бетона, кирпича и дерева, на 100% соответствующее утвержденному проекту."
        },
        about: {
          heading: "О Компании",
          text1: "Хотите построить промышленное или жилое здание? Строительная компания ADSK реализует Вашу задумку под ключ. Начиная от создания фундамента и заканчивая кровлей, а также отделкой (для пром. зданий).",
          text2: "Вы получаете  гарантию результата: до 10 лет на материалы и до 2 лет на работу. На всех этапах реализации проекта мы придерживаемся стандартам СНиП.",
          text3: "Строим здания из металлоконструкций, бетона, кирпича и дерева, на 100% соответствующее утвержденному проекту."
        },
        build: {
          heading: "Мы строим",
          btn: "Смотреть все объекты",
          info: {
            content: [
              {
                img: {
                  href: "img/build1.jpg"
                },
                name: "Название здания",
                address: "г. Киев. ул. Независимости <span class=\"build__address--span\">12/2</span>"
              },
              {
                img: {
                  href: "img/build2.jpg"
                },                
                name: "Название здания",
                address: "г. Киев. ул. Независимости <span class=\"build__address--span\">12/2</span>"
              },
              {
                img: {
                  href: "img/build3.jpg"
                },
                name: "Название здания",
                address: "г. Киев. ул. Независимости <span class=\"build__address--span\">12/2</span>"
              },
              {
                img: {
                  href: "img/build4.jpg"
                },
                name: "Название здания",
                address: "г. Киев. ул. Независимости <span class=\"build__address--span\">12/2</span>"
              },
              {
                img: {
                  href: "img/build5.jpg"
                },
                name: "Название здания",
                address: "г. Киев. ул. Независимости <span class=\"build__address--span\">12/2</span>"
              },
              {
                img: {
                  href: "img/build6.jpg"
                },
                name: "Название здания",
                address: "г. Киев. ул. Независимости <span class=\"build__address--span\">12/2</span>"
              },
              {
                img: {
                  href: "img/build3.jpg"
                },
                name: "Название здания",
                address: "г. Киев. ул. Независимости <span class=\"build__address--span\">12/2</span>"
              }
            ]
          }
        },
        test: {
          heading: "Тест",
          subheading: "Узнайте за <span class=\"test__subheading--span\">3</span> минуты стоимость вашего здания!",
          title: "Ответьте на 10 вопросов и получите:",
          info: [
            {
              text: "Предварительный проект вашего здания"
            },
            {             
              text: "Сметную стоимость работ «под ключ»"
            },
            {
              text: "Подарок за экономию нашего времени"
            }
          ],
          btn: "Пройдите тест прямо сейчас"
        },
        garant: {
          heading: "Я гарантирую качество",
          text: "Мы делаем точно в срок и с индивидуальным подходом",
          subtext: "Артем Михайлович - генеральный директор",
          img: {
            src: "img/temich.png",
            alt: "Артем Михайлович"
          }
        },
        project: {
          heading: "Успешные объекты",
          slides: [
            {
              heading: "Проект “Калифорнияы”",
              table: [
                {
                  left: {
                    icon: "table1",
                    text: "Расположение:"
                  },
                  right: "г. Киев. ул. Новосадова"
                },
                {
                  left: {
                    icon: "table2",
                    text: "Размеры дома:"
                  },
                  right: "8,3 м х 8,6 м"
                },
                {
                  left: {
                    icon: "table3",
                    text: "Площадь дома:"
                  },
                  right: "112 м<sup>2</sup>"
                }
              ],
              details: [
                {
                  left: "Фундамент:",
                  right: "Монолитная железобетонная лента"
                },
                {
                  left: "Внутрення отделка:",
                  right: "Вагонка"
                },
                {
                  left: "Кровля:",
                  right: "Металлочерепица"
                },
                {
                  left: "Стены:",
                  right: "Каркасные, утепление 150мм"
                },
                {
                  left: "Наружная отделка:",
                  right: "Имитация бруса с покраской           "
                }
              ],
              btn: {
                href: "",
                text: ""
              }
            },
          ]  
        },
        scheme: {
          heading: "Ваш дом строится за <span class=\"heading__text--span\">90</span> дней",
          subheading: "Строим по Придерживаемся стандартам СНиП на всех этапах реализации проекта",
          date: "Сегодня",
          info: {
            content: [
              {
                text: "Проектирование <span class=\"item__text--break\">(<span class=\"item__text--span\">7</span> дней)</span>",
                number: "1",
                date: "7"
              },
              {
                text: "Подготовка земли <span class=\"item__text--break\">(<span class=\"item__text--span\">7</span> дней)</span>",
                number: "2",
                date: "7"
              },
              {
                text: "Выбор и доставка материалов <span class=\"item__text--break\">(<span class=\"item__text--span\">3</span> дня)</span>",
                number: "3",
                date: "3"
              },
              {
                text: "Инженерия <span class=\"item__text--break\">(<span class=\"item__text--span\">12</span> дней)</span>",
                number: "4",
                date: "12"
              }
            ],
            content1: [
              {
                text: "Фундамент <span class=\"item__text--break\">(<span class=\"item__text--span\">12</span> дней)</span>",
                number: "5",
                date: "12"
              },
              {
                text: "Первый этаж и перекрытия <span class=\"item__text--break\">(<span class=\"item__text--span\">15</span> дней)</span>",
                number: "6",
                date: "15"
              },
              {
                text: "Второй этаж <span class=\"item__text--break\">(<span class=\"item__text--span\">12</span> дней)</span>",
                number: "7",
                date: "12"
              },
              {
                text: "Кровля <span class=\"item__text--break\">(<span class=\"item__text--span\">12</span> дней)</span>",
                number: "8",
                date: "12"
              }
            ]
          }
        },
        exp: {
          heading1: "до <span class=\"exp__heading--span\">2</span> лет",
          heading2: "до <span class=\"exp__heading--span\">10</span> лет",
          text1: "Гарантии на работу",
          text2: "Гарантии на материалы",
          image1: "img/exp1.png",
          image2: "img/exp2.png"
        },
        team: {
          heading: "О нас",
          image: {
            src: "img/team.jpg",
            alt: "Строитель"
          },
          title: "Наша команда",
          text: "",
          info: [
            {
              text: "Не следует, однако забывать, что сложившаяся структура организации способствует подготовки и реализации соответствующий условий активизации."
            },
            {             
              text: "Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач."
            },
            {
              text: "Товарищи! консультация с широким активом в значительной степени обуславливает создание соответствующий условий активизации."
            }
          ],
          sert: [
            {
              src:"img/team1.jpg"
            },
            {             
              src:"img/team1.jpg"
            },
            {
              src:"img/team1.jpg"
            },
            {
              src:"img/team1.jpg"
            }
          ],          
        }
      }, //- index
    }