- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.ico",
          appleTouchIcon: "apple-touch-icon.ico",
          description: "",
          keywords: "",
          title: "Workflow",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        logo: {
          img: {
            src: "img/logo/logo.png",
            href: ""
          }
        },
        nav: {
          links: [
            {
              href: "/",
              name: "Главная"
            },
            {
              href: "#build",
              name: "Объекты"
            },
            {
              href: "#cost",
              name: "Стоимость"
            },
            {
              href: "#question",
              name: "Вопросы"
            },
            {
              href: "#contact",
              name: "Контакты"
            }
          ],
          contact: {
            href: "tel:380990860656",
            text: "+38 (099) 086 06 56"
          },
          btn: {
            href: "",
            text: "Заказать звонок"
          }
        },
      }, //- site
      success: {
        hostname: "success.html",
        title: "Спасибо за заявку",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        header: {
          heading: "<span class=\"success__heading\">Спасибо,</span> что обратились к нам!",
          text: "Скоро мы с Вами свяжемся для обсуждения деталей проекта."
        }
      },
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        modal: {
          nav: {
            heading: "Получите смету по Вашему проекту за 48 часов",
            subheading: "Оставьте свои контакты, чтобы мы с Вами связались и уточнили детали вашего проекта. После этого мы сможем составить смету по проекту!",
            btn: "Заказать просчет сметы бесплатно",
            access: {
              text: "Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с <a class=\"modal__link\" data-toggle=\"modal\" href=\"#modal__confident\">Политикой конфиденциальности</a>"
            }
          },
          header: {
            heading: "Обратная связь с компанией “АДСК”",
            subheading: "Оставьте свои контакты, чтобы мы вам перезвонили <span class=\"modal__subheading--span\">или звоните по номеру +38 (099) 086-06-56</span>",
            btn: "Заказать просчет сметы бесплатно",
            access: {
              text: "Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь с <a class=\"modal__link\" data-toggle=\"modal\" href=\"#modal__confident\">Политикой конфиденциальности</a>"
            }
          }
        },
        header: {
          heading: "Строительство жилых и промышленных зданий:",
          subheading: "Проектирование, выполнение строительно-монтажных работ, комплексная поставка материалов.",
          text1: "Мы подготовим прогнозную стоимость <span class=\"header__text--span\">в течении <span class=\"header__text--number\">48</span> часов</span>",
          text2: "Заполните заявку для расчета прогнозной стоимости Вашего объекта, и Вы получите ее <span class=\"header__text--span\">совершенно бесплатно</span>",
          btn: "Заявка на получение прогнозной стоимости"
        },
        about: {
          heading: "О Компании",
          text1: "Хотите построить промышленное или жилое здание? Строительная компания ADSK реализует Вашу задумку под ключ. Начиная от создания фундамента и заканчивая кровлей, а также отделкой (для пром. зданий).",
          text2: "Вы получаете гарантию результата: до 10 лет на материалы и до 2 лет на работу. На всех этапах реализации проекта мы придерживаемся стандартам ДБН."
        },
        build: {
          heading: "Мы строим",
          btn: "Смотреть все объекты",
          info: {
            content: [
              {
                img: {
                  href: "img/build1.jpg",
                  src: "img/build1.jpg"
                },
                address: "Промышленные здания из метала"
              },
              {
                img: {
                  href: "img/build2.jpg",
                  src: "img/build2.jpg"
                },                
                address: "Промышленные здания из сборного железобетона"
              },
              {
                img: {
                  href: "img/build3.jpg",
                  src: "img/build3.jpg"
                },
                address: "Строительство трубопроводов"
              },
              {
                img: {
                  href: "img/build4.jpg",
                  src: "img/build4.jpg"
                },
                address: "Устройство кровли и стен из сэндвич панелей или сэндвич полистовой сборки"
              },
              {
                img: {
                  href: "img/build5.jpg",
                  src: "img/build5.jpg"
                },
                address: "Строительство фундамента для басейнов"
              },
              {
                img: {
                  href: "img/build6.jpg",
                  src: "img/build6.jpg"
                },
                address: "Строительство каркаса зданий с комбенированным каркасом"
              },
              {
                img: {
                  href: "img/build7.jpg",
                  src: "img/build7.jpg"
                },
                address: "Строительство котеджей из дерева,  ЛСТК, (легкие стальные тонкостенные конструкции) и газобетон"
              },
              {
                img: {
                  href: "img/build8.jpg",
                  src: "img/build8.jpg"
                },
                address: "Строительство мансардного этажа из лстк, черный металл, дерево"
              },
              {
                img: {
                  href: "img/build9.jpg",
                  src: "img/build9.jpg"
                },
                address: "Строительство фундаментов из сборного железобетона, монолитные железобетонные фундаменты и каркас"
              }
            ]
          }
        },
        test: {
          heading: "Тест",
          subheading: "Узнайте за <span class=\"test__subheading--span\">3</span> минуты стоимость вашего здания!",
          title: "Ответьте на 10 вопросов и получите:",
          info: [
            {
              text: "Предварительный проект вашего здания"
            },
            {             
              text: "Сметную стоимость работ «под ключ»"
            },
            {
              text: "Подарок за экономию нашего времени"
            }
          ],
          btn: "Пройдите тест прямо сейчас"
        },
        garant: {
          heading: "Я гарантирую качество",
          text: "Мы делаем точно в срок и с индивидуальным подходом",
          subtext: "Артем Михайлович - генеральный директор",
          img: {
            src: "img/temich.png",
            alt: "Артем Михайлович"
          }
        },
        project: {
          heading: "Реализованные объекты",
          btn: "Смотреть все фото",
          slides: [
            {
              heading: "Строительство камеры охлаждения пгт. Мелиоративное",
              image: {
                src: "img/project/1/proj1.jpg",
                alt: "Слайд 1"
              },
              table: [
                {
                  left: {
                    icon: "ic ic--table2",
                    text: "срок выполнения работ:"
                  },
                  right: {
                    text: "3,5 месяца"
                  }
                },
                {
                  left: {
                    icon: "ic ic--table3",
                    text: "Площадь застройки:"
                  },
                  right: {
                    text: "160 м<sup>2</sup>"
                  }
                },
              ],
              options: [
                {
                  value: "Строительство камеры охлаждения для завода кормовых добавок в пгт. Мелиоративное."
                },
                {
                  value: "Работы выполнялись без привлечения субподрядных организаций: устройство фундаментов, полы, изготовление/монтаж металлокаркаса, устройство ограждающих конструкций стен из сэндвич-панелей, устройство кровли."
                }
              ],
              gallery: [
                {
                  src: "img/project/1/proj2.jpg"
                },
                {
                  src: "img/project/1/proj3.jpg"
                },
                {
                  src: "img/project/1/proj4.jpg"
                },
                {
                  src: "img/project/1/proj5.jpg"
                },
                {
                  src: "img/project/1/proj6.jpg"
                },
                {
                  src: "img/project/1/proj7.jpg"
                },
                {
                  src: "img/project/1/proj8.jpg"
                },
                {
                  src: "img/project/1/proj9.jpg"
                },
                {
                  src: "img/project/1/proj10.jpg"
                },
                {
                  src: "img/project/1/proj11.jpg"
                },
                {
                  src: "img/project/1/proj12.jpg"
                },
                {
                  src: "img/project/1/proj13.jpg"
                },
                {
                  src: "img/project/1/proj14.jpg"
                },
                {
                  src: "img/project/1/proj15.jpg"
                },
                {
                  src: "img/project/1/proj16.jpg"
                },
                {
                  src: "img/project/1/proj17.jpg"
                },
                {
                  src: "img/project/1/proj18.jpg"
                },
                {
                  src: "img/project/1/proj19.jpg"
                },
                {
                  src: "img/project/1/proj20.jpg"
                },
                {
                  src: "img/project/1/proj21.jpg"
                },
                {
                  src: "img/project/1/proj22.jpg"
                },
                {
                  src: "img/project/1/proj23.jpg"
                },
                {
                  src: "img/project/1/proj24.jpg"
                },
                {
                  src: "img/project/1/proj25.jpg"
                },
                {
                  src: "img/project/1/proj26.jpg"
                },
                {
                  src: "img/project/1/proj27.jpg"
                },
                {
                  src: "img/project/1/proj28.jpg"
                },
                {
                  src: "img/project/1/proj29.jpg"
                }
              ]
            },
            {
              heading: "Котельная «Агросфера»",
              image: {
                src: "img/project/2/proj1.jpg",
                alt: "Слайд 1"
              },
              table: [
                {
                  left: {
                    icon: "ic ic--table2",
                    text: "Срок выполнения:"
                  },
                  right: {
                    text: "45 дней"
                  }
                },
              ],
              options: [
                {
                  value: "Строительство твердотопливной котельной в с. Баловка для отопления складских помещений ООО «Агросфера»."
                },
                {
                  value: "Выполняемые работы: Строительство железобетонного фундамента, металлического каркаса, устройство ограждающих конструкции стен и кровли (сэндвич полистовой сборки), устройство котлов мощностью 180 кВт с обвязкой и подключением к системе отопления."
                }
              ],
              gallery: [
                {
                  src: "img/project/2/proj2.jpg"
                },
                {
                  src: "img/project/2/proj3.jpg"
                }
              ]
            },
            {
              heading: "Кровля крыши на ул. Клочко",
              image: {
                src: "img/project/3/proj1.jpg",
                alt: "Слайд 1"
              },
              table: [
                {
                  left: {
                    icon: "ic ic--table2",
                    text: "Срок выполнения:"
                  },
                  right: {
                    text: "15 дней"
                  }
                },
                {
                  left: {
                    icon: "ic ic--table3",
                    text: "Площадь дома:"
                  },
                  right: {
                    text: "45 м<sup>2</sup>"
                  }
                },
              ],
              options: [
                {
                  value: "Разработка проекта деревянных стропильных конструкции. Строительство стропильных конструкций кровли беседки с отделкой деревянных конструкции,  покрытие кровли битумной черепицей."
                },
                {
                  value: "Работы выполнены без привлечения субподрядных организации."
                }
              ],
              gallery: [
                {
                  src: "img/project/3/proj2.jpg",
                },
                {
                  src: "img/project/3/proj3.jpg",
                },
                {
                  src: "img/project/3/proj4.jpg",
                },
                {
                  src: "img/project/3/proj5.jpg",
                },
                {
                  src: "img/project/3/proj6.jpg",
                },
                {
                  src: "img/project/3/proj7.jpg",
                },
                {
                  src: "img/project/3/proj8.jpg",
                },
                {
                  src: "img/project/3/proj9.jpg",
                }
              ]
            },
            {
              heading: "Кровля крыши Кривой Рог",
              image: {
                src: "img/project/4/proj1.jpg",
                alt: "Слайд 1"
              },
              table: [
                {
                  left: {
                    icon: "ic ic--table2",
                    text: "Срок выполнения:"
                  },
                  right: {
                    text: "30 дней"
                  }
                },
                {
                  left: {
                    icon: "ic ic--table3",
                    text: "Общая площадь:"
                  },
                  right: {
                    text: "350 м<sup>2</sup>"
                  }
                },
              ],
              options: [
                {
                  value: "Разработка проекта деревянных стропильных конструкции. Строительство стропильных конструкции кровли частного дама в г. Кривой Рог,  устройство покрытия кровли битумной черепицей."
                },
                {
                  value: "Работы выполнены без привлечения субподрядных организации."
                }
              ],
              gallery: [
                {
                  src: "img/project/4/proj2.jpg",
                },
                {
                  src: "img/project/4/proj3.jpg",
                },
                {
                  src: "img/project/4/proj4.jpg",
                },
                {
                  src: "img/project/4/proj5.jpg",
                },
                {
                  src: "img/project/4/proj6.jpg",
                },
                {
                  src: "img/project/4/proj7.jpg",
                },
                {
                  src: "img/project/4/proj8.jpg",
                },
                {
                  src: "img/project/4/proj9.jpg",
                },
                {
                  src: "img/project/4/proj10.jpg",
                },
                {
                  src: "img/project/4/proj11.jpg",
                },
                {
                  src: "img/project/4/proj12.jpg",
                },
                {
                  src: "img/project/4/proj13.jpg",
                },
                {
                  src: "img/project/4/proj14.jpg",
                },
                {
                  src: "img/project/4/proj15.jpg",
                },
                {
                  src: "img/project/4/proj16.jpg",
                },
                {
                  src: "img/project/4/proj17.jpg",
                },
                {
                  src: "img/project/4/proj18.jpg",
                },
                {
                  src: "img/project/4/proj19.jpg",
                },
                {
                  src: "img/project/4/proj20.jpg",
                },
                {
                  src: "img/project/4/proj21.jpg",
                },
                {
                  src: "img/project/4/proj22.jpg",
                },
                {
                  src: "img/project/4/proj23.jpg",
                },
                {
                  src: "img/project/4/proj24.jpg",
                },
                {
                  src: "img/project/4/proj25.jpg",
                },
                {
                  src: "img/project/4/proj26.jpg",
                },
                {
                  src: "img/project/4/proj27.jpg",
                },
                {
                  src: "img/project/4/proj28.jpg",
                },
                {
                  src: "img/project/4/proj29.jpg",
                },
                {
                  src: "img/project/4/proj30.jpg",
                }
              ]
            },
            {
              heading: "Остановка церковь",
              image: {
                src: "img/project/5/proj1.jpg",
                alt: "Слайд 1"
              },
              table: [
                {
                  left: {
                    icon: "ic ic--table2",
                    text: "Срок выполнения:"
                  },
                  right: {
                    text: "2 недели"
                  }
                }
              ],
              options: [
                {
                  value: "Строительство остановки трамвайного маршрута №9 «Парк Сагайдак» в г. Днепр."
                },
                {
                  value: "Выполнялось устройство бетонного основания, изготовление и монтаж металлокаркаса, устройство кровли."
                }
              ],
              gallery: [
                {
                  src: "img/project/5/proj2.jpg",
                },
                {
                  src: "img/project/5/proj3.jpg",
                },
                {
                  src: "img/project/5/proj4.jpg",
                },
                {
                  src: "img/project/5/proj5.jpg",
                }
              ]
            },
            {
              heading: "Пристройка жилого дома",
              image: {
                src: "img/project/6/proj1.jpg",
                alt: "Слайд 1"
              },
              table: [
                {
                  left: {
                    icon: "ic ic--table2",
                    text: "Срок выполнения:"
                  },
                  right: {
                    text: "3 недели"
                  }
                },
                {
                  left: {
                    icon: "ic ic--table3",
                    text: "Площадь пристройки:"
                  },
                  right: {
                    text: "28 м<sup>2</sup>"
                  }
                },
              ],
              options: [
                {
                  value: "Строительство пристройки жилого дома в с. Орловщина: фундамент, устройство комбинированного каркаса стен и кровли (метал+дерево)."
                }
              ],
              gallery: [
                {
                  src: "img/project/6/proj2.jpg",
                },
                {
                  src: "img/project/6/proj3.jpg",
                },
                {
                  src: "img/project/6/proj4.jpg",
                },
                {
                  src: "img/project/6/proj5.jpg",
                }
              ]
            },
            {
              heading: "Расширение территории церкви",
              image: {
                src: "img/project/7/proj1.jpg",
                alt: "Слайд 1"
              },
              table: [
                {
                  left: {
                    icon: "ic ic--table2",
                    text: "Срок выполнения:"
                  },
                  right: {
                    text: "1 месяц"
                  }
                },
                {
                  left: {
                    icon: "ic ic--table3",
                    text: "Площадь пристройки:"
                  },
                  right: {
                    text: "1450 м<sup>2</sup>"
                  }
                },
              ],
              options: [
                {
                  value: "Расширение территории Храма Рождества Пресвятой Богородицы (ж/м Красный Камень) в Днепре и увеличения детской площадки для более комфортного отдыха маленьких жителей жилого массива."
                },
                {
                  value: "Выполненные работы: планировка территории 1450 м2, устройство подпорной стены из ФБС блоков, и обвязкой монолитным поясом 92 м. п."
                }
              ],
              gallery: [
                {
                  src: "img/project/7/proj2.jpg",
                },
                {
                  src: "img/project/7/proj3.jpg",
                },
                {
                  src: "img/project/7/proj4.jpg",
                },
                {
                  src: "img/project/7/proj5.jpg",
                },
                {
                  src: "img/project/7/proj6.jpg",
                },
                {
                  src: "img/project/7/proj7.jpg",
                },
                {
                  src: "img/project/7/proj8.jpg",
                },
                {
                  src: "img/project/7/proj9.jpg",
                },
                {
                  src: "img/project/7/proj10.jpg",
                },
                {
                  src: "img/project/7/proj11.jpg",
                },
                {
                  src: "img/project/7/proj12.jpg",
                },
                {
                  src: "img/project/7/proj13.jpg",
                },
                {
                  src: "img/project/7/proj14.jpg",
                }
              ]
            },
            {
              heading: "Строительство фундамента бункера разгрузки и фундамента башни",
              image: {
                src: "img/project/8/proj1.jpg",
                alt: "Слайд 1"
              },
              table: [
                {
                  left: {
                    icon: "ic ic--table2",
                    text: "Срок выполнения:"
                  },
                  right: {
                    text: "10 дней"
                  }
                }
              ],
              options: [
                {
                  value: "Строительство фундамента и анкеров для устройства башни высотой 22 м и фундамента бункера загрузки пилет для котельной."
                }
              ],
              gallery: [
                {
                  src: "img/project/8/proj2.jpg",
                },
                {
                  src: "img/project/8/proj3.jpg",
                },
                {
                  src: "img/project/8/proj4.jpg",
                }
              ]
            },
            {
              heading: "Бетонный узел на ул. Молодогвардейской",
              image: {
                src: "img/project/9/proj1.jpg",
                alt: "Слайд 1"
              },
              table: [
                {
                  left: {
                    icon: "ic ic--table2",
                    text: "Срок выполнения:"
                  },
                  right: {
                    text: "2 месяца"
                  }
                }
              ],
              options: [
                {
                  value: "Изготовление и монтаж металлоконструкций бетонного смесительного узла компании ООО «Украино-польское предприятие с иностранными инвестициями УПС»."
                },
                {
                  value: "Выполняемые работы: Монтаж и узловая сборка бетонного узла, изготовление и монтаж металлического каркаса, устройство ограждающих конструкции стен и кровли."
                }
              ],
              gallery: [
                {
                  src: "img/project/9/proj2.jpg",
                },
                {
                  src: "img/project/9/proj3.jpg",
                },
                {
                  src: "img/project/9/proj4.jpg",
                },
                {
                  src: "img/project/9/proj5.jpg",
                },
                {
                  src: "img/project/9/proj6.jpg",
                },
                {
                  src: "img/project/9/proj7.jpg",
                }
              ]
            },
            {
              heading: "Модульная твердотопливная котельная 10,2МВт",
              image: {
                src: "img/project/10/proj1.jpg",
                alt: "Слайд 1"
              },
              table: [
                {
                  left: {
                    icon: "ic ic--table2",
                    text: "Срок выполнения:"
                  },
                  right: {
                    text: "4 месяца"
                  }
                },
                {
                  left: {
                    icon: "ic ic--table3",
                    text: "Длина теплотрассы:"
                  },
                  right: {
                    text: "1200 м"
                  }
                }
              ],
              options: [
                {
                  value: "Реконструкция здания хозяйственного корпуса под размещение модульной котельной 10,2 МВт г. Днепр, ул. Космическая, «Областная детская клиника». Работы выполнялись без привлечения субподрядных организаций: устройство фундаментов котельной и фундаментов теплотрассы 37шт, изготовление/монтаж металлокаркаса теплотрассы, и подключение семи зданий больницы."
                }
              ],
              gallery: [
                {
                  src: "img/project/10/proj2.jpg",
                },
                {
                  src: "img/project/10/proj3.jpg",
                },
                {
                  src: "img/project/10/proj4.jpg",
                },
                {
                  src: "img/project/10/proj5.jpg",
                },
                {
                  src: "img/project/10/proj6.jpg",
                },
                {
                  src: "img/project/10/proj7.jpg",
                },
                {
                  src: "img/project/10/proj8.jpg",
                },
                {
                  src: "img/project/10/proj9.jpg",
                },
                {
                  src: "img/project/10/proj10.jpg",
                },
                {
                  src: "img/project/10/proj11.jpg",
                },
                {
                  src: "img/project/10/proj12.jpg",
                },
                {
                  src: "img/project/10/proj13.jpg",
                },
                {
                  src: "img/project/10/proj14.jpg",
                },
                {
                  src: "img/project/10/proj15.jpg",
                },
                {
                  src: "img/project/10/proj2.jpg",
                },
                {
                  src: "img/project/10/proj16.jpg",
                },
                {
                  src: "img/project/10/proj17.jpg",
                },
                {
                  src: "img/project/10/proj18.jpg",
                },
                {
                  src: "img/project/10/proj19.jpg",
                },
                {
                  src: "img/project/10/proj20.jpg",
                },
                {
                  src: "img/project/10/proj21.jpg",
                }
              ]
            },
            {
              heading: "Устройство проемов в несущих стенах",
              image: {
                src: "img/project/11/proj1.jpg",
                alt: "Слайд 1"
              },
              table: [
                {
                  left: {
                    icon: "ic ic--table2",
                    text: "Срок выполнения:"
                  },
                  right: {
                    text: "12 дней"
                  }
                }
              ],
              options: [
                {
                  value: "Изготовление и монтаж металлоконструкций обрамления проемов в несущих стенах 2-х этажного жилого дома ширана проема 3,5м. Выполняемые работы: Изготовление и монтаж металлического каркаса, демонтаж кирпичной кладки."
                }
              ],
              gallery: [
                {
                  src: "img/project/11/proj2.jpg",
                },
                {
                  src: "img/project/11/proj3.jpg",
                },
                {
                  src: "img/project/11/proj4.jpg",
                },
                {
                  src: "img/project/11/proj5.jpg",
                },
                {
                  src: "img/project/11/proj6.jpg",
                }
              ]
            }                             
          ],
        },
        scheme: {
          heading: "Ваш дом строится за <span class=\"heading__text--span\">90</span> дней",
          subheading: "Придерживаемся стандартов ДБН на всех этапах реализации проекта",
          date: "Сегодня",
          info: {
            content: [
              {
                text: "Проектирование <span class=\"item__text--break\">(<span class=\"item__text--span\">7</span> дней)</span>",
                number: "1",
                date: "7"
              },
              {
                text: "Подготовка земли <span class=\"item__text--break\">(<span class=\"item__text--span\">7</span> дней)</span>",
                number: "2",
                date: "7"
              },
              {
                text: "Выбор и доставка материалов <span class=\"item__text--break\">(<span class=\"item__text--span\">3</span> дня)</span>",
                number: "3",
                date: "3"
              },
              {
                text: "Инженерия <span class=\"item__text--break\">(<span class=\"item__text--span\">12</span> дней)</span>",
                number: "4",
                date: "12"
              }
            ],
            content1: [
              {
                text: "Фундамент <span class=\"item__text--break\">(<span class=\"item__text--span\">12</span> дней)</span>",
                number: "5",
                date: "12"
              },
              {
                text: "Первый этаж и перекрытия <span class=\"item__text--break\">(<span class=\"item__text--span\">15</span> дней)</span>",
                number: "6",
                date: "15"
              },
              {
                text: "Второй этаж <span class=\"item__text--break\">(<span class=\"item__text--span\">12</span> дней)</span>",
                number: "7",
                date: "12"
              },
              {
                text: "Кровля <span class=\"item__text--break\">(<span class=\"item__text--span\">12</span> дней)</span>",
                number: "8",
                date: "12"
              }
            ]
          }
        },
        cost: {
          heading: "Узнайте стоимость вашего проекта",
          title: "Проектирования онлайн калькулятор стоимости",
          image: "img/mockup.png",
          catalog: "Получить на EMAIL каталог работ",
          form: {
            input1: "Назначение здания",
            input2: "Общая площадь здания",
            input3: "Стоимость под ключ:",
            input4: "Площадь:"
          },
          btn: "Подтвердить расчет"
        },
        exp: {
          title: "Вы защищены гарантией",
          heading1: "до <span class=\"exp__heading--span\">2</span> лет",
          heading2: "до <span class=\"exp__heading--span\">10</span> лет",
          text1: "На работу",
          text2: "На материалы",
          image1: "img/exp1.png",
          image2: "img/exp2.png"
        },
        team: {
          heading: "О нас",
          image: {
            src: "img/team.jpg",
            alt: "Строитель"
          },
          info: [
            {
              text: "Сколько будет стоить? Каковы сроки возведения? Как и из чего выгоднее и надежнее построить? Эти и много подобных вопросов возникают у Заказчика на начальном этапе и в процессе реализации его проекта. Наша компания даст грамотные, исчерпывающие ответы на все возникающие вопросы."
            },
            {             
              text: "Компания «АДСК» успешно трудиться на строительном рынке с 2008г. Доказательством этому служат качественно выполненные объекты и довольные Заказчики. Возведение жилых и промышленных зданий различного назначения, выполнение строительно-монтажных работ по устройству сетей водопровода и канализации, устройство котелен и теплотрасс… Это и многое другое – все в нашей компетенции."
            }
          ],
          sert: [
            {
              src:"img/team1.jpg"
            },
            {             
              src:"img/team1.jpg"
            },
            {
              src:"img/team1.jpg"
            },
            {
              src:"img/team1.jpg"
            }
          ],          
        },
        partner: {
          heading: "Наши партнеры",
          slides: [
            {
              src: "https://studio25.com.ua",
              img: {
                src: "img/partner1.png",
                alt: "Партнер"
              },
              heading: "<a href=\"https://studio25.com.ua\">Studio Ideas</a>",
              text: "Студия проектирования, дизайна интерьеров, ландшафтного дизайна"
            },
            {
              src: "http://well-done.com.ua/?utm_source=website\&utm_medium=clientfooter\&utm_campaign=adsk",
              img: {
                src: "img/partner2.png",
                alt: "Партнер"
              },
              heading: "<a href=\"http://well-done.com.ua/?utm_source=website&utm_medium=clientfooter&utm_campaign=adsk\">Well Done</a>",
              text: "Студия по созданию и продвижению сайтов. Комплексный интернет маркетинг"
            },
            {
              src: "http://omegamettrade.com.ua",
              img: {
                src: "img/partner3.png",
                alt: "Партнер"
              },
              heading: "<a href=\"http://omegamettrade.com.ua\">Омега Мет Трейд</a>",
              text: "Компания по продаже металопроката и труб оптом и в розницу"
            }
          ]
        },
        worth: {
          heading: "Как делать не стоит",
          title: "Выберите желаемые пункты",
          btn: "Получить консультацию по строительству.",
          control: [
            {
              title: "Недорого",
              article: "EA.01.101"
            },
            {
              title: "Качественно",
              article: "EA.01.102"
            },
            {
              title: "Быстро",
              article: "EA.01.103"
            },
          ],
          items: [
            {
              img: {
                src: "img/worth-1.png",
                alt: "Worth 1"
              },
              switch: "110",
              subtitle: "Долго",
              text: [
                "«Как строительство небоскреба улитками». Можно сделать проект качественно и недорого, но Заказчику придется ждать его ОЧЕНЬ долго."
              ]
            },
            {
              img: {
                src: "img/worth-2.png",
                alt: "Worth 2"
              },
              switch: "101",
              subtitle: "Не будет качественно",
              text: [
                "«Бывает только шалаш». Когда дешево и быстро, качество ВСЕГДА страдает."
              ]
            },
            {
              img: {
                src: "img/worth-3.png",
                alt: "Worth 3"
              },
              switch: "011",
              subtitle: "Не может быть дешево",
              text: [
                "«Применение технологии строительства как у муравьев. Рабочий процесс: 24 часа/сутки, 7 дней/в неделю, все работают на износ». В таком варианте Заказчику приходиться нести НЕМАЛЫЕ затраты за скорость."
              ]
            },
            {
              img: {
                src: "img/worth-4.png",
                alt: "Worth 4"
              },
              switch: "111",
              subtitle: "Невозможно",
              text: [
                "«Всегда и везде преуспеть очень сложно». Наспех сделанное не бывает качественным, качественное не бывает дешевым, а за срочность всегда приходится переплачивать."
              ]
            },
          ],
        },
        contact: {
          heading: "Контактная информация",
          info: [
            {
              ic: "",
              name: "Телефон",
              text: "<a href=\"tel\:380990860656\", class=\"contact__link contact__link--big\">+38 (099) 086-06-56</a>"
            },
            {
              ic: "",
              name: "Время работы",
              text: "Пн-Сб.: с <span class=\"contact__number\">8:30</span> до <span class=\"contact__number\">19:30</span>"
            },
            {
              ic: "",
              name: "Email",
              text: "<a href=\"mailto\:sk-adsk@ukr.net\", class=\"contact__link\">sk-adsk@ukr.net</a>"
            },
            {
              ic: "",
              name: "Адрес",
              text: "г. Днепр. Крестьянский спуск <span class=\"contact__number\">3/a</span>"
            }
          ]
        },
        footer: {
          copyright: "Все права защищены <span class=\"footer__copy--number\">2017</span>"
        }
      }, //- index
    }
