#about.about
  .container
    .row
      .col-24.col-lg-10.offset-lg-2
        .heading.about__heading.heading--border
          .heading__text!=content.index.about.heading
    .row
      .col-24.col-lg-20.offset-lg-2
        .row.flex-xl-row-reverse.justify-content-between
          .col-24.col-lg-10.text-center
            .about__image
              img.img-fluid(src='img/about.jpg' alt='')
          .col-24.col-lg-10    
            .about__info
              p.about__text!=content.index.about.text1  
              p.about__text!=content.index.about.text2 
                i.hidden-sm-down(class="ic ic--question about__icon" type="button" data-toggle="tooltip" data-animation="false" data-placement="bottom" title="Держа́вні будіве́льні но́рми (ДБН; рос. СНиП) — нормативно-правові акти, затверджені центральним органом виконавчої влади з питань будівництва та архітектури. Державні будівельні норми охоплюють всі галузі народного господарства держави та регламентують діяльність різноманітних сфер життєдіяльності людини. Офіційний видавець більшості будівельних нормативів України - мінрегіонбуд") 
              p.about__text!=content.index.about.text3  

          

          