#about.about
  .container
    .row
      .col-24.col-lg-10.offset-lg-2
        .heading.about__heading.heading--border
          .heading__text!=content.index.about.heading
    .row
      .col-24.col-lg-20.offset-lg-2
        .row.flex-xl-row-reverse.justify-content-between
          .col-24.col-lg-10.text-center
            .about__image
              img.img-fluid(src='img/about.jpg' alt='')
          .col-24.col-lg-10    
            .about__info
              p.about__text!=content.index.about.text1  
              p.about__text!=content.index.about.text2 
                i.hidden-sm-down(class="ic ic--question about__icon" type="button" data-toggle="tooltip" data-animation="false" data-placement="bottom" title="Строительные нормы и правила (СНиП) — совокупность принятых органами исполнительной власти нормативных актов технического, экономического и правового характера, регламентирующих осуществление градостроительной деятельности, а также инженерных изысканий, архитектурно-строительного проектирования и строительства.") 
              p.about__text!=content.index.about.text3  

          

          