mixin personalCols(count)
  if (count < 6)
    .col-24.col-md-12.col-xl-8.build__col
      if (block)
        block     
  else
    .col-24.col-md-12.col-xl-8.build__col.build__col--hidden
      if (block)
        block
#build.build
  .container
    .row
      .col-24.col-lg-9.offset-lg-2
        .heading.build__heading.heading--border
          .heading__text!=content.index.build.heading
    .row
      .col-24.col-xl-20.offset-xl-2
        .row.justify-content-center
          each item, i in content.index.build.info.content
            +personalCols(i)
              a.build__item.fancyimage(rel="group" data-fancybox="group1" href!=item.img.href)
                .build__image(class='build__image--' + (i + 1)) 
                .build__overlay.align-items-center.d-flex
                  .row
                    .col-24
                      .build__name!= item.name
                    .col-24  
                      .build__address!= item.address
                .build__hover
                  i.ic.ic--zoom.build__icon   
        .row.justify-content-center          
          button.btn.button.build__btn
            i.ic.ic--all.button__ic
            !=content.index.build.btn     