.contact
  .container
    .row
      .col-24.col-lg-20.offset-lg-2
        .heading.partner__heading.heading--border
          .heading__text!=content.index.contact.heading   
    .row
      .col-lg-12.offset-lg-2
        #map
          script.
            function initMap() {
              var uluru = {lat: 48.4468688, lng: 35.066801};
              var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                mapTypeControl: false,
                scrollwheel: false,
                streetViewControl: false,
                center: uluru
              });
              var marker = new google.maps.Marker({
                position: uluru,
                map: map,
                icon: 'img/marker.png'
              });
            }
          script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDMiE1FSNLDqeWHjoHH6cZBlhl6NITkw2w&callback=initMap')
      .col-20.offset-3.offset-sm-2.col-lg-8.offset-lg-2
        .contact__info
          .contact__box      
            each item, i in content.index.contact.info
              .contact__item
                i.ic.contact__icon(class="ic--contact-"+(i+1))
                .contact__name!= item.name
                .contact__text!= item.text 