.header.header--success
  .container.container--success
    .row.row--success.align-items-center
      .col-md-12.align-self-end
        .success__image
          img.img-fluid(src="img/success.png" alt="Мадам")
      .col-24.col-md-12
        .header__heading
          h1.title.title--black!=content.success.header.heading
        .success__text!=content.success.header.text
