.partner
  .container
    .row
      .col-24.col-lg-17.col-xl-16.offset-lg-2
        .heading.partner__heading.heading--border
          .heading__text!=content.index.partner.heading
      .col-24.col-lg-22.offset-lg-1
        .partner__slider
           each item, i in content.index.partner.slides
            .partner__item
              img.img-fluid.partner__image(src!= item.img.src, alt!= item.img.alt)
              .partner__title!= item.heading
              .partner__text!= item.text 


