.project
  .container
    .row
      .col-24.col-lg-17.col-xl-16.offset-lg-2
        .heading.project__heading.heading--border
          .heading__text.heading__text--white!=content.index.project.heading
      .col-24
        //- .project__slider.slider.hidden-lg-up
        //-   .slider__item
        //-     .row
        //-       .col-12
        //-         .slider__image
        //-           img.img-fluid(src="img/slider1main.jpg")
        //-       .col-12
        //-         .project__info
        //-           .project__name!=content.index.project.slides.slide1.name 
        //-           .project__box
        //-             table.table.project__table
        //-               tbody
        //-                 tr.project__row
        //-                   td.project__data.project__data--left
        //-                     i.ic.ic--table1 
        //-                     | Расположение:
        //-                   td.project__data.project__data--right г. Киев. ул. Новосадова
        //-                 tr.project__row
        //-                   td.project__data.project__data--left
        //-                     i.ic.ic--table2 
        //-                     | Размеры дома:
        //-                   td.project__data.project__data--right 8,3 м х 8,6 м
        //-                 tr.project__row
        //-                   td.project__data.project__data--left
        //-                     i.ic.ic--table3 
        //-                     | Площадь дома:
        //-                   td.project__data.project__data--right 112 м 
        //-                     sup 2
        //-           .project__details
        //-             .project__elem
        //-               .project__elem--top Фундамент:
        //-               .project__elem--bot Монолитная железобетонная лента 
        //-             .project__elem
        //-               .project__elem--top Внутрення отделка:
        //-               .project__elem--bot Вагонка
        //-             .project__elem
        //-               .project__elem--top Кровля:
        //-               .project__elem--bot Металлочерепица
        //-             .project__elem
        //-               .project__elem--top Стены:
        //-               .project__elem--bot Каркасные, утепление 150мм
        //-             .project__elem
        //-               .project__elem--top Наружная отделка:
        //-               .project__elem--bot Имитация бруса с покраской                                       
        //-   .slider__item
        //-     .row
        //-       .col-12
        //-         .slider__image
        //-           img.img-fluid(src="img/slider1main.jpg")
        //-       .col-12
        //-         .project__info
        //-           .project__name!=content.index.project.slides.slide1.name 
        //-           .project__box
        //-             table.table.project__table
        //-               tbody
        //-                 tr.project__row
        //-                   td.project__data.project__data--left
        //-                     i.ic.ic--table1 
        //-                     | Расположение:
        //-                   td.project__data.project__data--right г. Киев. ул. Новосадова
        //-                 tr.project__row
        //-                   td.project__data.project__data--left
        //-                     i.ic.ic--table2 
        //-                     | Размеры дома:
        //-                   td.project__data.project__data--right 8,3 м х 8,6 м
        //-                 tr.project__row
        //-                   td.project__data.project__data--left
        //-                     i.ic.ic--table3 
        //-                     | Площадь дома:
        //-                   td.project__data.project__data--right 112 м 
        //-                     sup 2
        //-           .project__details
        //-             .project__elem
        //-               .project__elem--top Фундамент:
        //-               .project__elem--bot Монолитная железобетонная лента 
        //-             .project__elem
        //-               .project__elem--top Внутрення отделка:
        //-               .project__elem--bot Вагонка
        //-             .project__elem
        //-               .project__elem--top Кровля:
        //-               .project__elem--bot Металлочерепица
        //-             .project__elem
        //-               .project__elem--top Стены:
        //-               .project__elem--bot Каркасные, утепление 150мм
        //-             .project__elem
        //-               .project__elem--top Наружная отделка:
        //-               .project__elem--bot Имитация бруса с покраской                                       
        //-   .slider__item
        //-     .row
        //-       .col-12
        //-         .slider__image
        //-           img.img-fluid(src="img/slider1main.jpg")
        //-       .col-12
        //-         .project__info
        //-           .project__name!=content.index.project.slides.slide1.name 
        //-           .project__box
        //-             table.table.project__table
        //-               tbody
        //-                 tr.project__row
        //-                   td.project__data.project__data--left
        //-                     i.ic.ic--table1 
        //-                     | Расположение:
        //-                   td.project__data.project__data--right г. Киев. ул. Новосадова
        //-                 tr.project__row
        //-                   td.project__data.project__data--left
        //-                     i.ic.ic--table2 
        //-                     | Размеры дома:
        //-                   td.project__data.project__data--right 8,3 м х 8,6 м
        //-                 tr.project__row
        //-                   td.project__data.project__data--left
        //-                     i.ic.ic--table3 
        //-                     | Площадь дома:
        //-                   td.project__data.project__data--right 112 м 
        //-                     sup 2
        //-           .project__details
        //-             .project__elem
        //-               .project__elem--top Фундамент:
        //-               .project__elem--bot Монолитная железобетонная лента 
        //-             .project__elem
        //-               .project__elem--top Внутрення отделка:
        //-               .project__elem--bot Вагонка
        //-             .project__elem
        //-               .project__elem--top Кровля:
        //-               .project__elem--bot Металлочерепица
        //-             .project__elem
        //-               .project__elem--top Стены:
        //-               .project__elem--bot Каркасные, утепление 150мм
        //-             .project__elem
        //-               .project__elem--top Наружная отделка:
        //-               .project__elem--bot Имитация бруса с покраской                                                     
        //- #example.hidden-md-down
        //-   carousel-3d(:width="950",:height="600", :border="0", :clickable="false", :controls-visible="true", :perspective='0', :space='950', :display='3')
        //-     each item, i in content.index.project.slides
        //-       slide(:index="0"+(i))
        //-         .slider__item
        //-           .row
        //-             .col-12
        //-               .slider__image
        //-             .col-12
        //-               .project__info
        //-                 .project__name!= item.heading    
        //-               .project__box    
        //-                 table.table.project__table
        //-                   tbody
        //-                     each item, b in table
        //-                       tr.project__row
        //-                         td.project__data!= item.left.text
            //- slide(:index='0')
            //-   .slider__item
            //-     .row
            //-       .col-12
            //-         .slider__image
            //-           img.img-fluid(src="img/slider1main.jpg")
            //-       .col-12
            //-         .project__info
            //-           .project__name!=content.index.project.slides.slide1.name 
            //-           .project__box
            //-             table.table.project__table
            //-               tbody
            //-                 tr.project__row
            //-                   td.project__data.project__data--left
            //-                     i.ic.ic--table1 
            //-                     | Расположение:
            //-                   td.project__data.project__data--right г. Киев. ул. Новосадова
            //-                 tr.project__row
            //-                   td.project__data.project__data--left
            //-                     i.ic.ic--table2 
            //-                     | Размеры дома:
            //-                   td.project__data.project__data--right 8,3 м х 8,6 м
            //-                 tr.project__row
            //-                   td.project__data.project__data--left
            //-                     i.ic.ic--table3 
            //-                     | Площадь дома:
            //-                   td.project__data.project__data--right 112 м 
            //-                     sup 2
            //-           .project__details
            //-             .project__elem
            //-               .project__elem--top Фундамент:
            //-               .project__elem--bot Монолитная железобетонная лента 
            //-             .project__elem
            //-               .project__elem--top Внутрення отделка:
            //-               .project__elem--bot Вагонка
            //-             .project__elem
            //-               .project__elem--top Кровля:
            //-               .project__elem--bot Металлочерепица
            //-             .project__elem
            //-               .project__elem--top Стены:
            //-               .project__elem--bot Каркасные, утепление 150мм
            //-             .project__elem
            //-               .project__elem--top Наружная отделка:
            //-               .project__elem--bot Имитация бруса с покраской                        
            //-           button.btn.button.project__btn
            //-             i.ic.ic--list.button__ic
            //-              index.test.btn                        