.hidden-md-down.quality
  .container-fluid
    .quality__box
      //- i.ic.ic--car.quality__icon
      //- span.quality__text Самые качественные материалы у проверенных поставщиков
      i.ic.ic--car.quality__icon
      i.ic.ic--car-left.quality__icon.quality__icon--left

         