// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$all-name: 'all'
$all-x: 368px
$all-y: 279px
$all-offset-x: -368px
$all-offset-y: -279px
$all-width: 32px
$all-height: 20px
$all-total-width: 646px
$all-total-height: 410px
$all-image: 'sprite.png'
$all: (368px, 279px, -368px, -279px, 32px, 20px, 646px, 410px, 'sprite.png', 'all', )
$call-name: 'call'
$call-x: 499px
$call-y: 279px
$call-offset-x: -499px
$call-offset-y: -279px
$call-width: 13px
$call-height: 13px
$call-total-width: 646px
$call-total-height: 410px
$call-image: 'sprite.png'
$call: (499px, 279px, -499px, -279px, 13px, 13px, 646px, 410px, 'sprite.png', 'call', )
$car-name: 'car'
$car-x: 0px
$car-y: 0px
$car-offset-x: 0px
$car-offset-y: 0px
$car-width: 646px
$car-height: 269px
$car-total-width: 646px
$car-total-height: 410px
$car-image: 'sprite.png'
$car: (0px, 0px, 0px, 0px, 646px, 269px, 646px, 410px, 'sprite.png', 'car', )
$contact-1-name: 'contact-1'
$contact-1-x: 522px
$contact-1-y: 279px
$contact-1-offset-x: -522px
$contact-1-offset-y: -279px
$contact-1-width: 12px
$contact-1-height: 12px
$contact-1-total-width: 646px
$contact-1-total-height: 410px
$contact-1-image: 'sprite.png'
$contact-1: (522px, 279px, -522px, -279px, 12px, 12px, 646px, 410px, 'sprite.png', 'contact-1', )
$contact-2-name: 'contact-2'
$contact-2-x: 544px
$contact-2-y: 279px
$contact-2-offset-x: -544px
$contact-2-offset-y: -279px
$contact-2-width: 12px
$contact-2-height: 12px
$contact-2-total-width: 646px
$contact-2-total-height: 410px
$contact-2-image: 'sprite.png'
$contact-2: (544px, 279px, -544px, -279px, 12px, 12px, 646px, 410px, 'sprite.png', 'contact-2', )
$contact-3-name: 'contact-3'
$contact-3-x: 585px
$contact-3-y: 279px
$contact-3-offset-x: -585px
$contact-3-offset-y: -279px
$contact-3-width: 11px
$contact-3-height: 9px
$contact-3-total-width: 646px
$contact-3-total-height: 410px
$contact-3-image: 'sprite.png'
$contact-3: (585px, 279px, -585px, -279px, 11px, 9px, 646px, 410px, 'sprite.png', 'contact-3', )
$contact-4-name: 'contact-4'
$contact-4-x: 566px
$contact-4-y: 279px
$contact-4-offset-x: -566px
$contact-4-offset-y: -279px
$contact-4-width: 9px
$contact-4-height: 12px
$contact-4-total-width: 646px
$contact-4-total-height: 410px
$contact-4-image: 'sprite.png'
$contact-4: (566px, 279px, -566px, -279px, 9px, 12px, 646px, 410px, 'sprite.png', 'contact-4', )
$cost-name: 'cost'
$cost-x: 238px
$cost-y: 337px
$cost-offset-x: -238px
$cost-offset-y: -337px
$cost-width: 14px
$cost-height: 21px
$cost-total-width: 646px
$cost-total-height: 410px
$cost-image: 'sprite.png'
$cost: (238px, 337px, -238px, -337px, 14px, 21px, 646px, 410px, 'sprite.png', 'cost', )
$costfff-name: 'costfff'
$costfff-x: 214px
$costfff-y: 337px
$costfff-offset-x: -214px
$costfff-offset-y: -337px
$costfff-width: 14px
$costfff-height: 21px
$costfff-total-width: 646px
$costfff-total-height: 410px
$costfff-image: 'sprite.png'
$costfff: (214px, 337px, -214px, -337px, 14px, 21px, 646px, 410px, 'sprite.png', 'costfff', )
$date-name: 'date'
$date-x: 107px
$date-y: 337px
$date-offset-x: -107px
$date-offset-y: -337px
$date-width: 40px
$date-height: 40px
$date-total-width: 646px
$date-total-height: 410px
$date-image: 'sprite.png'
$date: (107px, 337px, -107px, -337px, 40px, 40px, 646px, 410px, 'sprite.png', 'date', )
$gift-name: 'gift'
$gift-x: 157px
$gift-y: 337px
$gift-offset-x: -157px
$gift-offset-y: -337px
$gift-width: 21px
$gift-height: 24px
$gift-total-width: 646px
$gift-total-height: 410px
$gift-image: 'sprite.png'
$gift: (157px, 337px, -157px, -337px, 21px, 24px, 646px, 410px, 'sprite.png', 'gift', )
$list-name: 'list'
$list-x: 188px
$list-y: 337px
$list-offset-x: -188px
$list-offset-y: -337px
$list-width: 16px
$list-height: 22px
$list-total-width: 646px
$list-total-height: 410px
$list-image: 'sprite.png'
$list: (188px, 337px, -188px, -337px, 16px, 22px, 646px, 410px, 'sprite.png', 'list', )
$question-name: 'question'
$question-x: 288px
$question-y: 337px
$question-offset-x: -288px
$question-offset-y: -337px
$question-width: 16px
$question-height: 16px
$question-total-width: 646px
$question-total-height: 410px
$question-image: 'sprite.png'
$question: (288px, 337px, -288px, -337px, 16px, 16px, 646px, 410px, 'sprite.png', 'question', )
$scheme-1-name: 'scheme-1'
$scheme-1-x: 0px
$scheme-1-y: 279px
$scheme-1-offset-x: 0px
$scheme-1-offset-y: -279px
$scheme-1-width: 48px
$scheme-1-height: 48px
$scheme-1-total-width: 646px
$scheme-1-total-height: 410px
$scheme-1-image: 'sprite.png'
$scheme-1: (0px, 279px, 0px, -279px, 48px, 48px, 646px, 410px, 'sprite.png', 'scheme-1', )
$scheme-2-name: 'scheme-2'
$scheme-2-x: 58px
$scheme-2-y: 279px
$scheme-2-offset-x: -58px
$scheme-2-offset-y: -279px
$scheme-2-width: 46px
$scheme-2-height: 46px
$scheme-2-total-width: 646px
$scheme-2-total-height: 410px
$scheme-2-image: 'sprite.png'
$scheme-2: (58px, 279px, -58px, -279px, 46px, 46px, 646px, 410px, 'sprite.png', 'scheme-2', )
$scheme-3-name: 'scheme-3'
$scheme-3-x: 175px
$scheme-3-y: 279px
$scheme-3-offset-x: -175px
$scheme-3-offset-y: -279px
$scheme-3-width: 53px
$scheme-3-height: 35px
$scheme-3-total-width: 646px
$scheme-3-total-height: 410px
$scheme-3-image: 'sprite.png'
$scheme-3: (175px, 279px, -175px, -279px, 53px, 35px, 646px, 410px, 'sprite.png', 'scheme-3', )
$scheme-4-name: 'scheme-4'
$scheme-4-x: 54px
$scheme-4-y: 337px
$scheme-4-offset-x: -54px
$scheme-4-offset-y: -337px
$scheme-4-width: 43px
$scheme-4-height: 43px
$scheme-4-total-width: 646px
$scheme-4-total-height: 410px
$scheme-4-image: 'sprite.png'
$scheme-4: (54px, 337px, -54px, -337px, 43px, 43px, 646px, 410px, 'sprite.png', 'scheme-4', )
$scheme-5-name: 'scheme-5'
$scheme-5-x: 297px
$scheme-5-y: 279px
$scheme-5-offset-x: -297px
$scheme-5-offset-y: -279px
$scheme-5-width: 61px
$scheme-5-height: 22px
$scheme-5-total-width: 646px
$scheme-5-total-height: 410px
$scheme-5-image: 'sprite.png'
$scheme-5: (297px, 279px, -297px, -279px, 61px, 22px, 646px, 410px, 'sprite.png', 'scheme-5', )
$scheme-6-name: 'scheme-6'
$scheme-6-x: 114px
$scheme-6-y: 279px
$scheme-6-offset-x: -114px
$scheme-6-offset-y: -279px
$scheme-6-width: 51px
$scheme-6-height: 40px
$scheme-6-total-width: 646px
$scheme-6-total-height: 410px
$scheme-6-image: 'sprite.png'
$scheme-6: (114px, 279px, -114px, -279px, 51px, 40px, 646px, 410px, 'sprite.png', 'scheme-6', )
$scheme-7-name: 'scheme-7'
$scheme-7-x: 0px
$scheme-7-y: 337px
$scheme-7-offset-x: 0px
$scheme-7-offset-y: -337px
$scheme-7-width: 44px
$scheme-7-height: 44px
$scheme-7-total-width: 646px
$scheme-7-total-height: 410px
$scheme-7-image: 'sprite.png'
$scheme-7: (0px, 337px, 0px, -337px, 44px, 44px, 646px, 410px, 'sprite.png', 'scheme-7', )
$scheme-8-name: 'scheme-8'
$scheme-8-x: 238px
$scheme-8-y: 279px
$scheme-8-offset-x: -238px
$scheme-8-offset-y: -279px
$scheme-8-width: 49px
$scheme-8-height: 33px
$scheme-8-total-width: 646px
$scheme-8-total-height: 410px
$scheme-8-image: 'sprite.png'
$scheme-8: (238px, 279px, -238px, -279px, 49px, 33px, 646px, 410px, 'sprite.png', 'scheme-8', )
$table1-name: 'table1'
$table1-x: 0px
$table1-y: 391px
$table1-offset-x: 0px
$table1-offset-y: -391px
$table1-width: 13px
$table1-height: 19px
$table1-total-width: 646px
$table1-total-height: 410px
$table1-image: 'sprite.png'
$table1: (0px, 391px, 0px, -391px, 13px, 19px, 646px, 410px, 'sprite.png', 'table1', )
$table2-name: 'table2'
$table2-x: 410px
$table2-y: 279px
$table2-offset-x: -410px
$table2-offset-y: -279px
$table2-width: 21px
$table2-height: 20px
$table2-total-width: 646px
$table2-total-height: 410px
$table2-image: 'sprite.png'
$table2: (410px, 279px, -410px, -279px, 21px, 20px, 646px, 410px, 'sprite.png', 'table2', )
$table3-name: 'table3'
$table3-x: 441px
$table3-y: 279px
$table3-offset-x: -441px
$table3-offset-y: -279px
$table3-width: 20px
$table3-height: 19px
$table3-total-width: 646px
$table3-total-height: 410px
$table3-image: 'sprite.png'
$table3: (441px, 279px, -441px, -279px, 20px, 19px, 646px, 410px, 'sprite.png', 'table3', )
$test-1-name: 'test-1'
$test-1-x: 471px
$test-1-y: 279px
$test-1-offset-x: -471px
$test-1-offset-y: -279px
$test-1-width: 18px
$test-1-height: 15px
$test-1-total-width: 646px
$test-1-total-height: 410px
$test-1-image: 'sprite.png'
$test-1: (471px, 279px, -471px, -279px, 18px, 15px, 646px, 410px, 'sprite.png', 'test-1', )
$test-2-name: 'test-2'
$test-2-x: 23px
$test-2-y: 391px
$test-2-offset-x: -23px
$test-2-offset-y: -391px
$test-2-width: 10px
$test-2-height: 18px
$test-2-total-width: 646px
$test-2-total-height: 410px
$test-2-image: 'sprite.png'
$test-2: (23px, 391px, -23px, -391px, 10px, 18px, 646px, 410px, 'sprite.png', 'test-2', )
$test-3-name: 'test-3'
$test-3-x: 262px
$test-3-y: 337px
$test-3-offset-x: -262px
$test-3-offset-y: -337px
$test-3-width: 16px
$test-3-height: 16px
$test-3-total-width: 646px
$test-3-total-height: 410px
$test-3-image: 'sprite.png'
$test-3: (262px, 337px, -262px, -337px, 16px, 16px, 646px, 410px, 'sprite.png', 'test-3', )
$zoom-name: 'zoom'
$zoom-x: 314px
$zoom-y: 337px
$zoom-offset-x: -314px
$zoom-offset-y: -337px
$zoom-width: 16px
$zoom-height: 16px
$zoom-total-width: 646px
$zoom-total-height: 410px
$zoom-image: 'sprite.png'
$zoom: (314px, 337px, -314px, -337px, 16px, 16px, 646px, 410px, 'sprite.png', 'zoom', )
$spritesheet-width: 646px
$spritesheet-height: 410px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($all, $call, $car, $contact-1, $contact-2, $contact-3, $contact-4, $cost, $costfff, $date, $gift, $list, $question, $scheme-1, $scheme-2, $scheme-3, $scheme-4, $scheme-5, $scheme-6, $scheme-7, $scheme-8, $table1, $table2, $table3, $test-1, $test-2, $test-3, $zoom, )
$spritesheet: (646px, 410px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
