// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$all-name: 'all'
$all-x: 755px
$all-y: 188px
$all-offset-x: -755px
$all-offset-y: -188px
$all-width: 32px
$all-height: 20px
$all-total-width: 787px
$all-total-height: 644px
$all-image: 'sprite.png'
$all: (755px, 188px, -755px, -188px, 32px, 20px, 787px, 644px, 'sprite.png', 'all', )
$call-name: 'call'
$call-x: 770px
$call-y: 407px
$call-offset-x: -770px
$call-offset-y: -407px
$call-width: 13px
$call-height: 13px
$call-total-width: 787px
$call-total-height: 644px
$call-image: 'sprite.png'
$call: (770px, 407px, -770px, -407px, 13px, 13px, 787px, 644px, 'sprite.png', 'call', )
$car-left-name: 'car-left'
$car-left-x: 0px
$car-left-y: 0px
$car-left-offset-x: 0px
$car-left-offset-y: 0px
$car-left-width: 646px
$car-left-height: 272px
$car-left-total-width: 787px
$car-left-total-height: 644px
$car-left-image: 'sprite.png'
$car-left: (0px, 0px, 0px, 0px, 646px, 272px, 787px, 644px, 'sprite.png', 'car-left', )
$car-name: 'car'
$car-x: 0px
$car-y: 282px
$car-offset-x: 0px
$car-offset-y: -282px
$car-width: 646px
$car-height: 269px
$car-total-width: 787px
$car-total-height: 644px
$car-image: 'sprite.png'
$car: (0px, 282px, 0px, -282px, 646px, 269px, 787px, 644px, 'sprite.png', 'car', )
$contact-1-name: 'contact-1'
$contact-1-x: 678px
$contact-1-y: 538px
$contact-1-offset-x: -678px
$contact-1-offset-y: -538px
$contact-1-width: 12px
$contact-1-height: 12px
$contact-1-total-width: 787px
$contact-1-total-height: 644px
$contact-1-image: 'sprite.png'
$contact-1: (678px, 538px, -678px, -538px, 12px, 12px, 787px, 644px, 'sprite.png', 'contact-1', )
$contact-2-name: 'contact-2'
$contact-2-x: 656px
$contact-2-y: 538px
$contact-2-offset-x: -656px
$contact-2-offset-y: -538px
$contact-2-width: 12px
$contact-2-height: 12px
$contact-2-total-width: 787px
$contact-2-total-height: 644px
$contact-2-image: 'sprite.png'
$contact-2: (656px, 538px, -656px, -538px, 12px, 12px, 787px, 644px, 'sprite.png', 'contact-2', )
$contact-3-name: 'contact-3'
$contact-3-x: 719px
$contact-3-y: 538px
$contact-3-offset-x: -719px
$contact-3-offset-y: -538px
$contact-3-width: 11px
$contact-3-height: 9px
$contact-3-total-width: 787px
$contact-3-total-height: 644px
$contact-3-image: 'sprite.png'
$contact-3: (719px, 538px, -719px, -538px, 11px, 9px, 787px, 644px, 'sprite.png', 'contact-3', )
$contact-4-name: 'contact-4'
$contact-4-x: 700px
$contact-4-y: 538px
$contact-4-offset-x: -700px
$contact-4-offset-y: -538px
$contact-4-width: 9px
$contact-4-height: 12px
$contact-4-total-width: 787px
$contact-4-total-height: 644px
$contact-4-image: 'sprite.png'
$contact-4: (700px, 538px, -700px, -538px, 9px, 12px, 787px, 644px, 'sprite.png', 'contact-4', )
$cost-name: 'cost'
$cost-x: 770px
$cost-y: 376px
$cost-offset-x: -770px
$cost-offset-y: -376px
$cost-width: 14px
$cost-height: 21px
$cost-total-width: 787px
$cost-total-height: 644px
$cost-image: 'sprite.png'
$cost: (770px, 376px, -770px, -376px, 14px, 21px, 787px, 644px, 'sprite.png', 'cost', )
$costfff-name: 'costfff'
$costfff-x: 755px
$costfff-y: 343px
$costfff-offset-x: -755px
$costfff-offset-y: -343px
$costfff-width: 14px
$costfff-height: 21px
$costfff-total-width: 787px
$costfff-total-height: 644px
$costfff-image: 'sprite.png'
$costfff: (755px, 343px, -755px, -343px, 14px, 21px, 787px, 644px, 'sprite.png', 'costfff', )
$date-name: 'date'
$date-x: 0px
$date-y: 604px
$date-offset-x: 0px
$date-offset-y: -604px
$date-width: 40px
$date-height: 40px
$date-total-width: 787px
$date-total-height: 644px
$date-image: 'sprite.png'
$date: (0px, 604px, 0px, -604px, 40px, 40px, 787px, 644px, 'sprite.png', 'date', )
$gift-name: 'gift'
$gift-x: 755px
$gift-y: 218px
$gift-offset-x: -755px
$gift-offset-y: -218px
$gift-width: 21px
$gift-height: 24px
$gift-total-width: 787px
$gift-total-height: 644px
$gift-image: 'sprite.png'
$gift: (755px, 218px, -755px, -218px, 21px, 24px, 787px, 644px, 'sprite.png', 'gift', )
$list-name: 'list'
$list-x: 755px
$list-y: 311px
$list-offset-x: -755px
$list-offset-y: -311px
$list-width: 16px
$list-height: 22px
$list-total-width: 787px
$list-total-height: 644px
$list-image: 'sprite.png'
$list: (755px, 311px, -755px, -311px, 16px, 22px, 787px, 644px, 'sprite.png', 'list', )
$modalic1-name: 'modalic1'
$modalic1-x: 656px
$modalic1-y: 0px
$modalic1-offset-x: -656px
$modalic1-offset-y: 0px
$modalic1-width: 131px
$modalic1-height: 178px
$modalic1-total-width: 787px
$modalic1-total-height: 644px
$modalic1-image: 'sprite.png'
$modalic1: (656px, 0px, -656px, 0px, 131px, 178px, 787px, 644px, 'sprite.png', 'modalic1', )
$modalic2-name: 'modalic2'
$modalic2-x: 656px
$modalic2-y: 188px
$modalic2-offset-x: -656px
$modalic2-offset-y: -188px
$modalic2-width: 89px
$modalic2-height: 178px
$modalic2-total-width: 787px
$modalic2-total-height: 644px
$modalic2-image: 'sprite.png'
$modalic2: (656px, 188px, -656px, -188px, 89px, 178px, 787px, 644px, 'sprite.png', 'modalic2', )
$question-name: 'question'
$question-x: 156px
$question-y: 561px
$question-offset-x: -156px
$question-offset-y: -561px
$question-width: 16px
$question-height: 16px
$question-total-width: 787px
$question-total-height: 644px
$question-image: 'sprite.png'
$question: (156px, 561px, -156px, -561px, 16px, 16px, 787px, 644px, 'sprite.png', 'question', )
$scheme-1-name: 'scheme-1'
$scheme-1-x: 656px
$scheme-1-y: 376px
$scheme-1-offset-x: -656px
$scheme-1-offset-y: -376px
$scheme-1-width: 48px
$scheme-1-height: 48px
$scheme-1-total-width: 787px
$scheme-1-total-height: 644px
$scheme-1-image: 'sprite.png'
$scheme-1: (656px, 376px, -656px, -376px, 48px, 48px, 787px, 644px, 'sprite.png', 'scheme-1', )
$scheme-2-name: 'scheme-2'
$scheme-2-x: 714px
$scheme-2-y: 376px
$scheme-2-offset-x: -714px
$scheme-2-offset-y: -376px
$scheme-2-width: 46px
$scheme-2-height: 46px
$scheme-2-total-width: 787px
$scheme-2-total-height: 644px
$scheme-2-image: 'sprite.png'
$scheme-2: (714px, 376px, -714px, -376px, 46px, 46px, 787px, 644px, 'sprite.png', 'scheme-2', )
$scheme-3-name: 'scheme-3'
$scheme-3-x: 717px
$scheme-3-y: 434px
$scheme-3-offset-x: -717px
$scheme-3-offset-y: -434px
$scheme-3-width: 53px
$scheme-3-height: 35px
$scheme-3-total-width: 787px
$scheme-3-total-height: 644px
$scheme-3-image: 'sprite.png'
$scheme-3: (717px, 434px, -717px, -434px, 53px, 35px, 787px, 644px, 'sprite.png', 'scheme-3', )
$scheme-4-name: 'scheme-4'
$scheme-4-x: 710px
$scheme-4-y: 484px
$scheme-4-offset-x: -710px
$scheme-4-offset-y: -484px
$scheme-4-width: 43px
$scheme-4-height: 43px
$scheme-4-total-width: 787px
$scheme-4-total-height: 644px
$scheme-4-image: 'sprite.png'
$scheme-4: (710px, 484px, -710px, -484px, 43px, 43px, 787px, 644px, 'sprite.png', 'scheme-4', )
$scheme-5-name: 'scheme-5'
$scheme-5-x: 59px
$scheme-5-y: 561px
$scheme-5-offset-x: -59px
$scheme-5-offset-y: -561px
$scheme-5-width: 61px
$scheme-5-height: 22px
$scheme-5-total-width: 787px
$scheme-5-total-height: 644px
$scheme-5-image: 'sprite.png'
$scheme-5: (59px, 561px, -59px, -561px, 61px, 22px, 787px, 644px, 'sprite.png', 'scheme-5', )
$scheme-6-name: 'scheme-6'
$scheme-6-x: 656px
$scheme-6-y: 434px
$scheme-6-offset-x: -656px
$scheme-6-offset-y: -434px
$scheme-6-width: 51px
$scheme-6-height: 40px
$scheme-6-total-width: 787px
$scheme-6-total-height: 644px
$scheme-6-image: 'sprite.png'
$scheme-6: (656px, 434px, -656px, -434px, 51px, 40px, 787px, 644px, 'sprite.png', 'scheme-6', )
$scheme-7-name: 'scheme-7'
$scheme-7-x: 656px
$scheme-7-y: 484px
$scheme-7-offset-x: -656px
$scheme-7-offset-y: -484px
$scheme-7-width: 44px
$scheme-7-height: 44px
$scheme-7-total-width: 787px
$scheme-7-total-height: 644px
$scheme-7-image: 'sprite.png'
$scheme-7: (656px, 484px, -656px, -484px, 44px, 44px, 787px, 644px, 'sprite.png', 'scheme-7', )
$scheme-8-name: 'scheme-8'
$scheme-8-x: 0px
$scheme-8-y: 561px
$scheme-8-offset-x: 0px
$scheme-8-offset-y: -561px
$scheme-8-width: 49px
$scheme-8-height: 33px
$scheme-8-total-width: 787px
$scheme-8-total-height: 644px
$scheme-8-image: 'sprite.png'
$scheme-8: (0px, 561px, 0px, -561px, 49px, 33px, 787px, 644px, 'sprite.png', 'scheme-8', )
$table1-name: 'table1'
$table1-x: 50px
$table1-y: 604px
$table1-offset-x: -50px
$table1-offset-y: -604px
$table1-width: 13px
$table1-height: 19px
$table1-total-width: 787px
$table1-total-height: 644px
$table1-image: 'sprite.png'
$table1: (50px, 604px, -50px, -604px, 13px, 19px, 787px, 644px, 'sprite.png', 'table1', )
$table2-name: 'table2'
$table2-x: 755px
$table2-y: 252px
$table2-offset-x: -755px
$table2-offset-y: -252px
$table2-width: 21px
$table2-height: 20px
$table2-total-width: 787px
$table2-total-height: 644px
$table2-image: 'sprite.png'
$table2: (755px, 252px, -755px, -252px, 21px, 20px, 787px, 644px, 'sprite.png', 'table2', )
$table3-name: 'table3'
$table3-x: 755px
$table3-y: 282px
$table3-offset-x: -755px
$table3-offset-y: -282px
$table3-width: 20px
$table3-height: 19px
$table3-total-width: 787px
$table3-total-height: 644px
$table3-image: 'sprite.png'
$table3: (755px, 282px, -755px, -282px, 20px, 19px, 787px, 644px, 'sprite.png', 'table3', )
$test-1-name: 'test-1'
$test-1-x: 763px
$test-1-y: 484px
$test-1-offset-x: -763px
$test-1-offset-y: -484px
$test-1-width: 18px
$test-1-height: 15px
$test-1-total-width: 787px
$test-1-total-height: 644px
$test-1-image: 'sprite.png'
$test-1: (763px, 484px, -763px, -484px, 18px, 15px, 787px, 644px, 'sprite.png', 'test-1', )
$test-2-name: 'test-2'
$test-2-x: 73px
$test-2-y: 604px
$test-2-offset-x: -73px
$test-2-offset-y: -604px
$test-2-width: 10px
$test-2-height: 18px
$test-2-total-width: 787px
$test-2-total-height: 644px
$test-2-image: 'sprite.png'
$test-2: (73px, 604px, -73px, -604px, 10px, 18px, 787px, 644px, 'sprite.png', 'test-2', )
$test-3-name: 'test-3'
$test-3-x: 130px
$test-3-y: 561px
$test-3-offset-x: -130px
$test-3-offset-y: -561px
$test-3-width: 16px
$test-3-height: 16px
$test-3-total-width: 787px
$test-3-total-height: 644px
$test-3-image: 'sprite.png'
$test-3: (130px, 561px, -130px, -561px, 16px, 16px, 787px, 644px, 'sprite.png', 'test-3', )
$zoom-name: 'zoom'
$zoom-x: 763px
$zoom-y: 509px
$zoom-offset-x: -763px
$zoom-offset-y: -509px
$zoom-width: 16px
$zoom-height: 16px
$zoom-total-width: 787px
$zoom-total-height: 644px
$zoom-image: 'sprite.png'
$zoom: (763px, 509px, -763px, -509px, 16px, 16px, 787px, 644px, 'sprite.png', 'zoom', )
$spritesheet-width: 787px
$spritesheet-height: 644px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($all, $call, $car-left, $car, $contact-1, $contact-2, $contact-3, $contact-4, $cost, $costfff, $date, $gift, $list, $modalic1, $modalic2, $question, $scheme-1, $scheme-2, $scheme-3, $scheme-4, $scheme-5, $scheme-6, $scheme-7, $scheme-8, $table1, $table2, $table3, $test-1, $test-2, $test-3, $zoom, )
$spritesheet: (787px, 644px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
